.button-dropdown-container {
    position: relative;
    user-select: none;
    z-index: 1;
    transition: $animation-transition-st;

    .visibility-count {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -1.1rem;
        right: 0rem;
        min-width: 2rem;
        padding: $spacing-padding-mini;
        border-radius: $dimensions-border-radius-sm;
        background-color: $color-complementary-p;
        font-weight: 600;
        font-size: $font-size-mini;
        color: $color-complementary-s
    }

    .dropdown-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        gap: 0.35rem;
        font-weight: 600;
        padding: 0rem 0.5rem;
        color: $color-complementary-s;
        cursor: pointer;

        label {
            display: flex;
            height: 100%;
            align-items: center;
            cursor: inherit;

            &:nth-child(1) {
                display: flex;
                align-items: center;
                gap: 0.35rem;
            }
        }
    }

    .dropdown-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: $spacing-gap-sm;
        top: 2.95rem;
        min-width: 10rem;
        background-color: $color-complementary-p;
        box-shadow: $box-shadow-st;
        padding: 0.5em;
        border-radius: 0.2em;
        max-height: 20em;
        right: 0;
        animation: $animation-fade-in 0.2s linear forwards;

        &.show {
            display: flex;
            flex-direction: column;
        }

        &.left {
            right: initial;
            left: 0;
        }

        >span {
            color: $color-complementary-s;
            text-align: center;
            font-weight: 600;
            cursor: initial;
        }

        .item-option {

            .button-action {
                width: stretch;
                justify-content: space-between;
                background-color: $color-complementary-s-50;
                white-space: nowrap;

                * {
                    color: $color-secondary;
                }

                &.active {
                    background-color: $color-complementary-s;
                }

                &:hover {
                    background-color: $color-complementary-s;
                }

                &:active {
                    background-color: $color-complementary-s-70;
                }
            }

            &.switch-cards {
                width: max-content;
                padding: $spacing-padding-mini $spacing-padding-sm;
                border-radius: $dimensions-border-radius-st;
                align-self: self-end;
            }

            &.group {

                .groups {
                    display: flex;
                    flex-direction: column;
                    gap: $spacing-gap-sm;
                    background-color: $color-secondary;
                    padding: $spacing-padding-mini;
                    border-radius: 1rem;
                }
            }
        }
    }

    &.status {

        .dropdown-menu {

            .button-action {
                background-color: $color-accent-15;

                * {
                    color: $color-complementary-s;
                }

                &:hover,
                &.active {
                    background-color: $color-accent;

                    * {
                        color: $color-secondary;
                    }
                }

                &:active {
                    background-color: $color-primary-50;
                }
            }
        }
    }

    &.button-dropdown-form {
        height: 2.4rem;
        box-sizing: border-box;
        padding: 0rem 0.66rem;
        justify-content: center;

        .dropdown-menu {
            top: 3rem;
        }
    }
}