.container-chart-cards-modal {
    display: flex;
    flex-direction: column;
    gap: $spacing-gap-sm;
    width: $dimensions-w-md;
    height: auto;
    max-height: $dimensions-h-video-xl;
    background-color: $color-secondary;
    box-shadow: $shadow-st;
    padding: $spacing-padding-md;
    border-radius: $dimensions-border-radius-sm;
    overflow: hidden;
    z-index: 1;

    >.head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 1px $color-pair-primary;
        padding-bottom: $spacing-padding-sm;

        .title {
            display: flex;
            align-items: center;
            gap: $spacing-gap-sm;
            
            * {
                color: $color-pair-secondary;
            }

            >span {
                font-size: $font-size-m;
                font-weight: 800;
            }
        }
    }

    >.body {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: $spacing-gap-sm;
        background-color: $color-pair-primary;
        padding: $spacing-padding-sm;
        border-radius: $dimensions-border-radius-sm;
    }
}