

.message-toast {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -200%);
    display: flex;
    align-items: center;
    gap: $spacing-gap-sm;
    border-radius: $dimensions-border-radius-sm;
    padding: $spacing-padding-sm;
    background-color: $color-pair-primary;
    box-shadow: 0.01em 0.01em 0.45em 0.01em $color-pair-secondary-light;
    color: $color-pair-secondary;
    font-weight: 600;
    z-index: 1000;
    
    .title {
        border-right: solid 2px $color-pair-secondary-darkest;
        padding-right: 0.75rem;
    }
}