@import '../../../../app/App.scss';

.meta {
    padding: 1em;
    border-radius: 0.5em;
    background-color: #fff;
    margin: 0.5em 0em;

    .head {
        display: inline-flex;
        align-items: center;

        .icon-st {
            font-size: $icon-size-small;
        }

        label {
            margin: 0em 0.5em; 
        }
    }
}