.calendar-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: $color-pair-primary;
    border-radius: $dimensions-border-radius-sm;
    padding: $spacing-padding-sm;

    > .head {
        display: flex;
        height: 1.5rem;
        padding-bottom: $spacing-padding-sm;
        font-weight: 600;

        .day-name {
            flex: 1;
            text-align: center;
            color: $color-pair-secondary;
        }
    }

    > .body {
        display: grid;
        grid-template-columns: repeat(7, minmax(0, 1fr));
        grid-template-rows: repeat(6, 1fr);
        height: 100%;
        gap: $spacing-gap-mini;

        .day {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: $spacing-gap-mini;
            color: $color-pair-secondary;
            background-color: $color-secondary;
            padding: $spacing-padding-sm;
            border-radius: $dimensions-border-radius-sm;
            min-height: 0;

            > .title {
                position: relative;
                display: inline-flex;
                justify-content: center;
                font-weight: 600;

                > label {
                    display: inline-flex;
                    justify-content: center;
                    padding: $spacing-padding-x-mini $spacing-padding-sm;
                    border-radius: 1rem;
                    width: 2rem;
                    transition: $animation-transition-st;
                    color: $color-pair-secondary;
                }

                .title-box {
                    .month-form {
                        display: flex;
                        flex-direction: column;
                        gap: $spacing-gap-sm;
                        padding: $spacing-padding-sm;
                        border-radius: $dimensions-border-radius-sm;
                        background-color: $color-secondary;
                        box-shadow: $shadow-sm;
                        z-index: 1;

                        > .head {
                            display: flex;
                            justify-content: space-between;
                            gap: $spacing-gap-sm;

                            .button-action {
                                width: 6rem;
                                justify-content: center;
                            }
                        }

                        > .body {
                            display: flex;
                            flex-direction: column;
                            gap: $spacing-gap-sm;
                            padding: $spacing-padding-sm;

                            .input-date {
                                width: 100%;
                            }
                        }

                        > .button-action {
                            &.save {
                                align-self: flex-end;
                            }
                        }
                    }

                    .tooltip {
                        position: absolute;
                        right: 0.25rem;
                        opacity: 0;
                        transition: $animation-transition-st;
                    }
                }

                .tooltip-dots {
                    position: absolute;
                    left: 0.25rem;
                    transition: $animation-transition-st;
                }
            }

            > .body {
                display: flex;
                flex-direction: column;
                gap: $spacing-gap-mini;
                min-height: 0;
                overflow: hidden;

                > .card-mini {
                    padding: $spacing-padding-x-mini $spacing-padding-mini;
                    background-color: $color-pair-primary;

                    * {
                        cursor: pointer;
                    }

                    .body {
                        .title {
                            .status {
                                height: 1rem;
                                width: 1rem;
                            }

                            .icon-st {
                                height: 1rem;
                            }

                            > label {
                                font-size: $font-size-mini;
                                -webkit-line-clamp: 1;
                                line-clamp: 1;
                            }
                        }
                    }

                    &.has-overflow {
                        display: none;
                    }
                }
            }

            &.today {
                > .title {
                    > label {
                        background-color: $color-pair-secondary;
                        color: $color-secondary;
                        padding: 0.15rem $spacing-padding-sm;
                        border-radius: 1rem;
                    }
                }
            }

            &.approximate {
                background-color: $color-contrast-o-05;
            }

            &:hover {
                .title {
                    .title-box {
                        .tooltip {
                            opacity: 1;

                            .button-action {
                                background-color: $color-pair-secondary-lightest;

                                &:hover {
                                    background-color: $color-pair-secondary;
                                }

                                &:active {
                                    background-color: $color-pair-secondary-light;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
