.container-popup {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: $color-white;
    box-shadow: $box-shadow-md;
    width: max-content;
    animation: $fade-in 0.3s ease-out forwards;

    .button-action {
        width: 7.5rem;

        &:hover {
            background-color: $color-complementary-s;
        }

        &:active {
            background-color: $color-complementary-s-70;
        }

        &.conclude {

            &:hover {
                background-color: $color-success-70;
            }

            &:active {
                background-color: $color-success-50;
            }
        }

        &.cancel {

            &:hover {
                background-color: $color-cancel-70;
            }

            &:active {
                background-color: $color-cancel-50;
            }
        }

        &.delete {

            &:hover {
                background-color: $color-delete-70;
            }

            &:active {
                background-color: $color-delete-50;
            }
        }
    }
}