@import '../../../themes/lighttheme.scss';

.container-tag {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100dvh;

    >.body {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem;
        flex-grow: 1;
        min-height: 10rem;
        overflow-y: auto;
    }

    .button-action {

        &.create {
            background-color: $color-complementary-s-50;

            * {
                color: $color-white;
            }

            &:hover,
            &.active {
                background-color: $color-accent-p;
            }

            &:active {
                background-color: $color-primary-50;
                transition: 0.1s ease-out;
            }
        }

        &.save {
            background-color: $color-primary;

            &:hover {
                background-color: $color-primary-70;
            }

            &:active {
                background-color: $color-primary-30;
            }

            * {
                color: $color-white;
            }
        }
    }

    .container-form-modal {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        width: 60%;
        margin: 0.5rem;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: $color-white;
        box-shadow: $box-shadow-st;
        right: 0;

        .head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: solid 1px $color-complementary-p;

            h2 {
                display: inline-flex;
                gap: 0.5rem;
                font-size: 1.05rem;
                margin: 0rem;
                padding: 0.85rem 0.5rem;
                color: $color-complementary-s;
            }
        }

        .bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3.5rem;
        }
    }
}