.container-main {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0em 1.5em 1em 1.5em;
    gap: $spacing-gap-sm;

    >.head {
        display: flex;
        flex-direction: column;

        .sub-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 3.5em;
            border-bottom: solid 2px $color-complementary-p;

            >div {
                display: flex;
                align-items: center;
                gap: $spacing-gap-md;

                &:first-child {

                    .month-picker {
                        display: flex;
                        align-items: center;
                        gap: $spacing-gap-mini;

                        >span {
                            color: $color-complementary-s;
                            font-weight: 600;
                            font-size: $font-size-m;
                        }
                    }
                }
            }
        }
    }

    >.container-popup {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    >.body {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-height: 0;

        .section {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            min-height: 0;
        }
    }
}