.icon-st {
    height: 1.25rem;
    color: $color-pair-secondary;

    &.medium {
        height: 1rem;
    }

    &.small {
        height: 0.875rem;
    }

    &.big {
        height: 1.5rem;
    }
}