@import '../../../../themes/lighttheme.scss';
@import '../../../../styles/typography.scss';

.search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20rem;
    z-index: 2;

    .search-bar {
        display: inline-flex;
        align-items: center;
        color: $color-complementary-s;
        background-color: $color-complementary-p;
        padding: 0rem 0.35rem;
        border-radius: 1rem;
        height: 2.4rem;

        .search-content {
            border: none;
            background-color: transparent;
            font-weight: 600;
            margin: 0em 0.35em;
            font-size: var(--font-size-st);
            caret-color: $color-complementary-s;
            flex: 1;

            &:focus {
                outline: none;
            }
        }
    }

    .search-box {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-height: 70dvh;
        overflow-y: auto;
        background-color: $color-white;
        box-shadow: $box-shadow-st;
        padding: 0.5rem;
        border-radius: 0.5rem;
        gap: 0.5rem;
        top: 2.95rem;
        left: 0;
        right: 0;

        .item {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            flex-shrink: 0;
            padding: 0.25rem 0.5rem;
            border-radius: 0.5rem;
            gap: 0.25rem;

            >.head {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 0.5rem;

                .item-info {
                    overflow: hidden;
                    cursor: pointer;
                    transition: .3s ease-in-out;
                    padding: 0rem 0.5rem;
                    border-radius: 0.5rem;
                    height: 1.8rem;
                    flex: 10;

                    .icon-st {
                        flex-shrink: 0;
                    }

                    >label {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-weight: 600;
                        color: $color-complementary-s;

                        &.message {
                            display: inline-flex;
                            height: 1.8rem;
                            justify-content: center;
                            align-items: center;
                            overflow: visible;
                            width: 100%;
                        }
                    }

                    * {
                        cursor: pointer;
                    }

                    &:hover {
                        background-color: $color-complementary-p;
                    }

                    &:active {
                        background-color: $color-complementary-p-70;
                    }
                }

                .item-action {
                    flex: 1;
                }

                /* Double application */
                .item-info,
                .item-action {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }
            }

            .message {
                font-weight: 500;
                color: $color-complementary-s;
            }

            &.tag {
                max-height: 1.75rem;
                transition: max-height 0.3s ease-in-out;

                >.head {

                    .item-info {

                        &:hover {
                            background-color: $color-white-30
                        }

                        &:active {
                            background-color: $color-white-50
                        }
                    }
                }

                >.body {

                    .item-content {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 0.25rem;

                        .item-tag {
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            gap: 0.25rem;
                            font-size: 0.875rem;
                            font-weight: 500;
                            background-color: $color-white-70;
                            padding: 0.25rem 0.5rem;
                            border-radius: 0.5rem;
                            transition: .3s ease-in-out;
                            color: $color-complementary-s;

                            .icon-st {
                                height: 1rem;
                            }

                            &:hover {
                                background-color: $color-white-30
                            }

                            &:active {
                                background-color: $color-white-50
                            }
                        }
                    }
                }

                &.open {
                    max-height: 20rem;

                    >.head {

                        .item-action {

                            .button-action {

                                &.expand {
                                    background-color: $color-complementary-s;

                                    .icon-st {
                                        color: $color-white;
                                        transform: rotate(180deg);
                                    }

                                    &:active {
                                        background-color: $color-complementary-s-30;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.goal,
            &.assignment {
                background-color: $color-complementary-p-30;
            }
        }
    }
}