.container-demo-session {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: $dimensions-border-radius-st;
    background-color: $color-contrast-o-05;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25.5rem;
    width: $dimensions-w-xl;
    padding: $spacing-padding-xlg;
    z-index: 2;
    gap: $spacing-gap-st;

    > .head {
        display: flex;
        flex-direction: column;
        gap: $spacing-gap-lg;

        .logo {
            height: $dimensions-h-sm;
        }

        .title {
            flex: 1;
            text-align: center;
            color: $color-contrast-o-70;
            font-size: $font-size-m;
            font-weight: 500;
        }

        .sub-title {
            color: $color-contrast-o-70;
            font-weight: 500;
            text-align: center;
            font-size: $font-size-sm;
        }
    }

    > .body {
        .demo-session-form {
            display: flex;
            flex-direction: column;
            gap: $spacing-gap-st;

            .content {
                display: flex;
                flex-direction: column;
                gap: $spacing-gap-sm;
                align-items: center;

                .input-text-container {
                    width: $dimensions-w-md;
                }

                .input-code-container {
                    .input {
                        > input {
                            color: $color-contrast;
                        }
                    }
                }

                .button-action {
                    align-self: center;
                    background-color: transparent;
                    margin: $spacing-margin-sm 0rem;

                    * {
                        color: $color-contrast;
                        font-weight: 500;
                    }

                    &:hover {
                        * {
                            color: $color-contrast-o-70;
                        }
                    }
                }
            }

            .actions {
                display: flex;
                align-items: center;
                justify-content: center;

                .button-action {
                    justify-content: center;
                }
            }
        }
    }
}
