@import '../../../../themes/lighttheme.scss';

.expandable-model-box {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.5rem;

    >.head {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        border-bottom: 1px solid $color-complementary-p;
        padding: 0rem 0rem 0.5rem 0rem;

        h2 {
            color: $color-complementary-s;
            margin: 0;
            height: 3rem;
        }

        /* DOUBLE APPLY */
        .title,
        h2,
        .options {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }

    >.body {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex: 1;
        overflow-y: auto;

        .mini-card {

            &:hover {
                background-color: $color-complementary-p-50;
            }
        }
    }
}