

.container-modal {

    &.modal-right {

        &.details {

            .body {

                .description {
                    background-color: $color-white;
                    border-radius: $dimensions-border-radius-sm;
                    padding: $spacing-padding-sm;
                    margin: $spacing-margin-st;
                    font-weight: 600;
                    height: 5rem;
                }

                .modaldetails {
                    background-color: $color-white;
                    border-radius: $dimensions-border-radius-sm;
                    padding: $spacing-padding-sm;
                    margin: $spacing-margin-st;

                    &.assignment-list {

                        .header-assignment-list {

                            h4 {
                                display: flex;
                                align-items: center;
                                gap: $spacing-gap-sm;
                                color: $color-complementary-s;
                            }
                        }
                    }
                }
            }
        }
    }
}