/* HEIGHT */
// WILL BE SEARCH COMMON VALUES

/* WIDTH */
// WILL BE SEARCH COMMON VALUES

/* BORDER-RADIUS */
$dimensions-border-radius-st: 2rem;
$dimensions-border-radius-md: 1rem;
$dimensions-border-radius-sm: 0.5rem;
$dimensions-border-radius-mini: 0.25rem;
$dimensions-border-radius-full: 50%;