/* PADDING */
$spacing-padding-xlg: 1.5rem;
$spacing-padding-lg: 1.25rem;
$spacing-padding-st: 1rem;
$spacing-padding-md: 0.75rem;
$spacing-padding-sm: 0.5rem;
$spacing-padding-mini: 0.25rem;
$spacing-padding-x-mini: 0.05rem;

/* MARGIN */
$spacing-margin-st: 1rem;
$spacing-margin-md: 0.75rem;
$spacing-margin-sm: 0.5rem;
$spacing-margin-mini: 0.25rem;
$spacing-margin-x-mini: 0.05rem;

/* GAP */
$spacing-gap-st: 1rem;
$spacing-gap-md: 0.75rem;
$spacing-gap-sm: 0.5rem;
$spacing-gap-mini: 0.25rem;
$spacing-gap-x-mini: 0.05rem;