.empty-state-model {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: $dimensions-h-video-xl;
    margin: auto;
    gap: $spacing-gap-sm;

    .title {
        font-size: $font-size-lg;
        font-weight: 600;
        color: $color-contrast;
    }

    .description {
        font-weight: 500;
        color: $color-contrast;
    }

    img {
        display: flex;
    }
}
