.tooltip {
    position: relative;
    display: inline-flex;

    .tooltip-content {
        position: absolute;
        white-space: nowrap;
        padding: $spacing-padding-mini $spacing-padding-md;
        border-radius: $dimensions-border-radius-sm;
        font-size: $font-size-mini;
        pointer-events: none;
        background-color: $color-contrast-o-70;
        animation: $animation-fade-in 0.1s linear forwards;
        color: $color-secondary;
        font-weight: 500;
        z-index: 2;
    }
}