.model-tabs {
    display: flex;
    flex-direction: column;
    gap: $spacing-gap-sm;
    flex-grow: 1;
    min-height: 0;

    >.head {
        display: flex;
        justify-content: space-between;
        padding: $spacing-padding-sm;
        gap: $spacing-gap-sm;
        border-bottom: 0.1em solid $color-complementary-s-15;

        .options-sections {
            display: flex;
            gap: $spacing-gap-sm;
        }
    }

    >.body {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: $color-complementary-s-05;
        gap: $spacing-gap-sm;
        padding: $spacing-padding-sm;
        border-radius: $dimensions-border-radius-sm;
        overflow-y: auto;
        flex-grow: 1;
        min-height: 0;
    }

    &.default {

        .head {
            padding: 0;
        }
    }

    &.column-3x3 {

        >.body {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &.column-2x2 {

        >.body {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    /* DOUBLE APPLY */
    &.column-3x3,
    &.column-2x2 {

        >.body {
            grid-auto-rows: max-content;
        }
    }

    &.assignment,
    &.goal {

        .head {
            height: 5dvh;
        }
    }
}