.container-app[data-theme='dark'] {
    --color-primary: #25447A;
    --color-primary-lightest: #4B8BFA;
    --color-primary-light: #3F74D1;
    --color-primary-dark: #325EA8;
    --color-primary-darkest: #1A3057;

    --color-secondary: #131313;
    --color-secondary-lightest: #BABABA;
    --color-secondary-light: #919191;
    --color-secondary-dark: #696969;
    --color-secondary-darkest: #404040;

    --color-pair-primary: #403B36;
    --color-pair-primary-lightest: #E8D5C3;
    --color-pair-primary-light: #BFB0A1;
    --color-pair-primary-dark: #968A7E;
    --color-pair-primary-darkest: #6E655C;

    --color-pair-secondary: #C7B8A5;
    --color-pair-secondary-lightest: #BAAE9E;
    --color-pair-secondary-light: #91887C;
    --color-pair-secondary-dark: #696159;
    --color-pair-secondary-darkest: #403B36;

    --color-accent: #49BEF5;
    --color-accent-lightest: #3FA3D1;
    --color-accent-light: #3283A8;
    --color-accent-dark: #26637F;
    --color-accent-darkest: #1A4357;

    --color-success: #00D057;
    --color-success-lightest: #00FF6A;
    --color-success-light: #00AD48;
    --color-success-dark: #008537;
    --color-success-darkest: #005C26;

    --color-neutral: #B3B3B3;
    --color-neutral-lightest: #E5E5E5;
    --color-neutral-light: #A8A8A8;
    --color-neutral-dark: #808080;
    --color-neutral-darkest: #575757;

    --color-error: #B31818;
    --color-error-lightest: #E01D1D;
    --color-error-light: #8F1313;
    --color-error-dark: #660D0D;
    --color-error-darkest: #3D0808;

    --color-contrast: #FFFFFF;
    --color-contrast-lightest: #DBDBDB;
    --color-contrast-light: #B3B3B3;
    --color-contrast-dark: #8A8A8A;
    --color-contrast-darkest: #616161;

    --color-contrast-o: 255, 255, 255;
    --color-contrast-o-70: rgba(var(--color-contrast-o), 0.70);
    --color-contrast-o-50: rgba(var(--color-contrast-o), 0.50);
    --color-contrast-o-30: rgba(var(--color-contrast-o), 0.30);
    --color-contrast-o-15: rgba(var(--color-contrast-o), 0.15);
    --color-contrast-o-05: rgba(var(--color-contrast-o), 0.05);
}