/* COLORS */
$color-white: #FFFF;
$color-primary: var(--color-primary);
$color-primary-lightest: var(--color-primary-lightest);
$color-primary-light: var(--color-primary-light);
$color-primary-dark: var(--color-primary-dark);
$color-primary-darkest: var(--color-primary-darkest);

$color-secondary: var(--color-secondary);
$color-secondary-lightest: var(--color-secondary-lightest);
$color-secondary-light: var(--color-secondary-light);
$color-secondary-dark: var(--color-secondary-dark);
$color-secondary-darkest: var(--color-secondary-darkest);

$color-pair-primary: var(--color-pair-primary);
$color-pair-primary-lightest: var(--color-pair-primary-lightest);
$color-pair-primary-light: var(--color-pair-primary-light);
$color-pair-primary-dark: var(--color-pair-primary-dark);
$color-pair-primary-darkest: var(--color-pair-primary-darkest);

$color-pair-secondary: var(--color-pair-secondary);
$color-pair-secondary-lightest: var(--color-pair-secondary-lightest);
$color-pair-secondary-light: var(--color-pair-secondary-light);
$color-pair-secondary-dark: var(--color-pair-secondary-dark);
$color-pair-secondary-darkest: var(--color-pair-secondary-darkest);

$color-accent: var(--color-accent);
$color-accent-lightest: var(--color-accent-lightest);
$color-accent-light: var(--color-accent-light);
$color-accent-dark: var(--color-accent-dark);
$color-accent-darkest: var(--color-accent-darkest);

$color-success: var(--color-success);
$color-success-lightest: var(--color-success-lightest);
$color-success-light: var(--color-success-light);
$color-success-dark: var(--color-success-dark);
$color-success-darkest: var(--color-success-darkest);

$color-neutral: var(--color-neutral);
$color-neutral-lightest: var(--color-neutral-lightest);
$color-neutral-light: var(--color-neutral-light);
$color-neutral-dark: var(--color-neutral-dark);
$color-neutral-darkest: var(--color-neutral-darkest);

$color-error: var(--color-error);
$color-error-lightest: var(--color-error-lightest);
$color-error-light: var(--color-error-light);
$color-error-dark: var(--color-error-dark);
$color-error-darkest: var(--color-error-darkest);

$color-contrast: var(--color-contrast);
$color-contrast-lightest: var(--color-contrast-lightest);
$color-contrast-light: var(--color-contrast-light);
$color-contrast-dark: var(--color-contrast-dark);
$color-contrast-darkest: var(--color-contrast-darkest);

/* COLORS OPACITY */
$color-white-o-70: rgba($color-white, 0.70);
$color-white-o-50: rgba($color-white, 0.50);
$color-white-o-30: rgba($color-white, 0.30);
$color-white-o-15: rgba($color-white, 0.15);
$color-white-o-05: rgba($color-white, 0.05);

$color-contrast-o-70: var(--color-contrast-o-70);
$color-contrast-o-50: var(--color-contrast-o-50);
$color-contrast-o-30: var(--color-contrast-o-30);
$color-contrast-o-15: var(--color-contrast-o-15);
$color-contrast-o-05: var(--color-contrast-o-05);

/* SHADOW */
$shadow-st: 0.01rem 0.01rem 0.45rem 0.01rem $color-contrast-o-30;
$shadow-sm: 0.005rem 0.005rem 0.225rem 0.005rem $color-contrast-o-30;
$shadow-md: 0.05rem 0.05rem 1.5rem 0.05rem $color-contrast-o-30;

$text-shadow-st: 0rem 0.05rem 0.05rem $color-contrast-o-30;
$text-shadow-sm: 0rem 0.0225rem 0.0225rem $color-contrast-o-30;
$text-shadow-md: 0rem 0.0525rem 0.0525rem $color-contrast-o-30;

/* SCROLLBAR */
$scrollbar-color: $color-pair-secondary;