.button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.4rem;
    width: 2.4rem;
    background-color: $color-complementary-p-50;
    transition: $animation-transition-st;
    cursor: pointer;

    &.circle {
        border-radius: 50%;
    }

    /* DOUBLE APPLY */
    &:hover,
    &.active {
        background-color: $color-complementary-s;

        .icon-st {
            color: $color-white;
        }

        &.home {
            background-color: $color-complementary-p-70;
        }
    }

    &.home {
        padding: 0.15rem;

        &.active {
            background-color: $color-accent-p-15;
        }
    }

    /* Last application */
    &:active {
        background-color: $color-complementary-s-30;

        &.home {
            background-color: $color-accent-p-05;
        }
    }
}