.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 1.5rem 0rem 1.5rem;

    .nav {
        display: flex;

        .item-nav {
            display: flex;
            justify-content: center;
            padding: $spacing-padding-mini $spacing-padding-sm;
            margin: $spacing-margin-mini;

            a {
                color: inherit;
            }
        }
    }
}