@import '../../../app/App.scss';

//Configurations primary
body {

    .icon-st {
        font-size: $icon-size-st;
    }
}

.button-st {
    display: inline-flex;
    position: relative;
    padding: 0.1em 0.35em;
    font-weight: 600;
    border-radius: 0.35em;
    user-select: none;
    color: $color-complementary-s;
    cursor: pointer;

    .icon-st {
        margin-right: 0.35em;
    }

    .dropdown-menu {
        position: absolute;
        display: none;
        background-color: $color-complementary-p;
        box-shadow: $box-shadow-st;
        padding: 0.5em;
        margin: 0.5em;
        border-radius: 0.2em;
        max-height: 20em;
        right: 0;

        &.show {
            display: flex;
            flex-direction: column;
        }

        .button-st {
            color: $color-complementary-s;
        }
    }

    &.circ {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-complementary-s-o25;
        border-radius: 50%;
        width: 2em;
        height: 2em;

        .icon-st {
            color: $color-complementary-s;
            margin: 0em;
        }
    }

    &.sq {
        border-radius: 0em;
    }

    &.btn-checkbox {

        .checkbox-container {
            display: flex;
            border: 0.125em solid $color-complementary-s;
            width: 0.95em;
            height: 0.95em;
            border-radius: 0.25em;
            padding: 0.035em;
            cursor: pointer;

            .icon-st {
                display: inline-flex;
                justify-content: center;
                font-size: 1em;
                width: 1em;
                margin: 0em;
            }
        }
    }

    &.button-action-m {
        background-color: $color-complementary-s;
        color: $color-white;

        .icon-st {
            font-size: $icon-size-small;
        }

        &.create {
            background-color: $color-primary;
        }
    }

    &.button-h {

        .icon-st {
            margin: 0.25em auto;
        }
    }

    &.button-action-p {
       
        * {
            color: $color-complementary-s;
        }

        &.bg-circle {
            background-color: $color-complementary-s;

            * {
                color: $color-white;
            }
        }
    }

    &.button-op-objective {
        padding: 0.35em;
        background-color: $color-primary-o2;
        color: $color-primary;

        &:first-child {
            border-top-right-radius: 0em;
            border-bottom-right-radius: 0em;
        }

        &:last-child {
            border-top-left-radius: 0em;
            border-bottom-left-radius: 0em;
        }
    }

    &.button-action-config {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: $color-complementary-s-o8;
        width: 60%;
        padding: 0.5em;
        margin: 0.7em;
        border-right: solid transparent 0.15em;
        justify-content: start;

        .button-title {
            display: inline-flex;
        }

        .icon-st {
            margin: 0em 0.5em;
        }

        &.on {
            color: $color-complementary-s;
            border-color: $color-complementary-s;
        }

        &:active {
            background-color: $color-complementary-s-o12;
            color: $color-complementary-s;
        }
    }

    &.dropdown-form {

    }
}

.button-filter-m {
    display: flex;
    align-items: center;
    border-radius: 0.5em;
    padding: 0.1em;

    &.search {
        color: $color-complementary-s;
        background-color: $color-complementary-p;

        .icon-st {
            margin: 0em 0em 0em 0.25em;
            font-size: $icon-size-mini;
        }

        .search-content {
            border: none;
            background-color: transparent;
            font-weight: 600;
            margin: 0em 0.35em;
            font-size: var(--font-size-st);

            &:focus {
                outline: none;
            }
        }
    }
}