.checkbox {
    border: 0.125em solid black;
    width: 0.78em;
    height: 0.7em;
    border-radius: 0.2em;
}

.button-st {
    position: relative;
    padding: 0.1em 0.35em;
    font-weight: 600;
    border-radius: 0.35em;
    user-select: none;

    .icon-st {
        margin-right: 0.35em;
        font-size: var(--font-size-st);
    }

    .dropdown-menu {
        position: absolute;
        display: none;
        background-color: var(--color-complementary-p);
        box-shadow: var(--box-shadow-st);
        padding: 0.5em;
        margin: 0.5em;
        border-radius: 0.2em;
        max-height: 20em;
        right: 0;

        &.show {
            display: flex;
            flex-direction: column;
        }
    }

    &.button-action-m {

        .icon-st {
            font-size: var(--font-size-mini);
        }
    }

    &.button-h {
        color: inherit;

        .icon-st {
            font-size: var(--icon-size-st);
            margin: 0.25em auto;
        }
    }
}

.search-content {
    border: none;
    font-weight: 600;
    margin: 0em 0.35em;
    font-size: var(--font-size-st);
}