//Configurations primary
body {

    .checkbox {
        border: 0.125em solid var(--color-complementary-s);
        width: 0.78em;
        height: 0.7em;
        border-radius: 0.2em;
        padding: 0.035em;
    }
}

.button-st {
    position: relative;
    padding: 0.1em 0.35em;
    font-weight: 600;
    border-radius: 0.35em;
    user-select: none;
    color: var(--color-complementary-s);

    .icon-st {
        margin-right: 0.35em;
        font-size: var(--icon-size-small);
    }

    .dropdown-menu {
        position: absolute;
        display: none;
        background-color: var(--color-complementary-p);
        box-shadow: var(--box-shadow-st);
        padding: 0.5em;
        margin: 0.5em;
        border-radius: 0.2em;
        max-height: 20em;
        right: 0;

        &.show {
            display: flex;
            flex-direction: column;
        }

        .button-st {
            color: var(--color-complementary-s);
        }
    }

    &.circ {
        border-radius: 50%;
    }

    &.sq {
        border-radius: 0em;
    }

    &.button-action-m {
        background-color: var(--color-complementary-s);
        color: var(--color-white);

        .icon-st {
            font-size: var(--icon-size-mini);
        }

        &.create {
            background-color: var(--color-primary);
        }
    }

    &.button-h {

        .icon-st {
            font-size: var(--icon-size-st);
            margin: 0.25em auto;
        }
    }

    &.button-action-p {
       
        * {
            color: var(--color-complementary-s);
        }

        .icon-st {

            &.fa-xmark {
                font-size: var(--icon-size-st);
            }
        }

        &.bg-circle {
            background-color: var(--color-complementary-s);

            * {
                color: var(--color-white);
            }
        }
    }

    &.button-op-objective {
        padding: 0.35em;
        background-color: var(--color-primary-o2);
        color: var(--color-primary);

        &:first-child {
            border-top-right-radius: 0em;
            border-bottom-right-radius: 0em;
        }

        &:last-child {
            border-top-left-radius: 0em;
            border-bottom-left-radius: 0em;
        }
    }

    &.button-action-config {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: var(--color-complementary-s-o8);
        width: 60%;
        padding: 0.5em;
        margin: 0.7em;
        border-right: solid transparent 0.15em;
        justify-content: start;

        .button-title {
            display: inline-flex;
        }

        .icon-st {
            margin: 0em 0.5em;
            font-size: var(--icon-size-st-small);
        }

        &.on {
            color: var(--color-complementary-s);
            border-color: var(--color-complementary-s);
        }

        &:active {
            background-color: var(--color-complementary-s-o3);
            color: var(--color-complementary-s);
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.button-filter-m {
    display: flex;
    align-items: center;
    border-radius: 0.5em;
    padding: 0.1em;

    &.search {
        color: var(--color-complementary-s);
        background-color: var(--color-complementary-p);

        .icon-st {
            margin: 0em 0em 0em 0.25em;
        }

        .search-content {
            border: none;
            background-color: transparent;
            font-weight: 600;
            margin: 0em 0.35em;
            font-size: var(--font-size-st);

            &:focus {
                outline: none;
            }
        }
    }
}