.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-gap-mini;
    cursor: pointer;

    .dot-item {
        padding: $spacing-gap-mini;
        border-radius: $dimensions-border-radius-full;
        background-color: $color-pair-primary;

        &:nth-child(even) {
            background-color: $color-pair-secondary;
        }
    }

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}
