.calendar-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: $color-pair-primary;
    border-radius: $dimensions-border-radius-sm;
    padding: $spacing-padding-sm;

    >.head {
        display: flex;
        height: 1.5rem;
        padding: 0.5rem 0rem;
        font-weight: 600;

        .day-name {
            flex: 1;
            text-align: center;
            color: $color-pair-secondary;
        }
    }

    >.body {
        display: grid;
        grid-template-columns: repeat(7, minmax(0, 1fr));
        grid-template-rows: repeat(6, 1fr);
        height: 100%;
        gap: $spacing-gap-sm;

        .day {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $spacing-gap-mini;
            text-align: center;
            font-weight: 600;
            color: $color-pair-secondary;
            background-color: $color-secondary;
            padding: $spacing-padding-sm;
            border-radius: $dimensions-border-radius-sm;

            .title {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                >label {
                    display: inline-flex;
                    justify-content: center;
                    padding: $spacing-padding-x-mini $spacing-padding-sm;
                    border-radius: 1rem;
                    width: 2rem;
                    cursor: pointer;
                    transition: $animation-transition-st;
                    color: $color-pair-secondary;

                    &:hover {
                        color: $color-white;
                        background-color: $color-pair-secondary-dark;
                    }

                    &:active {
                        color: $color-white;
                        background-color: $color-pair-secondary-darkest;
                    }
                }

                .title-box {

                    .month-form {
                        display: flex;
                        flex-direction: column;
                        gap: $spacing-gap-sm;
                        padding: $spacing-padding-sm;
                        border-radius: $dimensions-border-radius-sm;
                        background-color: $color-secondary;
                        box-shadow: $shadow-sm;
                        z-index: 1;

                        >.head {
                            display: flex;
                            justify-content: space-between;
                            gap: $spacing-gap-sm;

                            .button-action {
                                width: 6rem;
                                justify-content: center;
                            }
                        }

                        >.body {
                            display: flex;
                            flex-direction: column;
                            gap: $spacing-gap-sm;
                            padding: $spacing-padding-sm;

                            .input-date {
                                width: 100%;
                            }
                        }

                        >.button-action {

                            &.save {
                                align-self: flex-end;
                            }
                        }
                    }

                    .tooltip {
                        position: absolute;
                        right: 0.25rem;
                        opacity: 0;
                        transition: $animation-transition-st;

                    }
                }
            }

            >.card-mini {
                width: 85%;
                overflow: hidden;
                padding: 0rem $spacing-padding-mini;
                background-color: $color-pair-primary;

                * {
                    font-size: $font-size-mini;
                    cursor: pointer;
                }

                .body {
                    overflow: hidden;

                    .status {
                        height: initial;
                        width: initial;
                    }

                    .title {
                        display: inline-block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: $font-size-mini;
                        flex: 5;
                    }

                    .icon-st {
                        height: 0.85rem;
                        width: 0.85rem;
                    }
                }
            }

            &.today {

                >.title {

                    >label {
                        background-color: $color-pair-secondary;
                        color: $color-secondary;
                        padding: 0.15rem $spacing-padding-sm;
                        border-radius: 1rem;

                        &:hover {
                            background-color: $color-pair-secondary-darkest;
                            color: $color-secondary;
                        }

                        &:active {
                            background-color: $color-pair-secondary-dark;
                            color: $color-secondary;
                        }
                    }
                }
            }

            &.approximate {
                background-color: $color-contrast-o-05;
            }

            &:hover {

                .title {

                    .title-box {

                        .tooltip {
                            opacity: 1;

                            .button-action {
                                background-color: $color-pair-secondary-lightest;

                                &:hover {
                                    background-color: $color-pair-secondary;
                                }

                                &:active {
                                    background-color: $color-pair-secondary-light;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}