@import '../../../themes/lighttheme.scss';

.container-form-modal {

    &.tag {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        width: 60%;
        height: 17rem;
        margin: 0.5rem;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: $color-white;
        box-shadow: $box-shadow-st;
        right: 0;
        z-index: 1;

        >.head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: solid 1px $color-complementary-p;

            h2 {
                display: inline-flex;
                gap: 0.5rem;
                font-size: 1.05rem;
                margin: 0rem;
                padding: 0.85rem 0.5rem;
                color: $color-complementary-s;
            }
        }

        >.body {
            flex: 1;
        }

        >.bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3.5rem;
        }
    }
}