@import '../../../themes/lighttheme.scss';
@import '../../../styles/typography.scss';

.container-main {
    display: flex;
    flex-direction: column;
    margin: 0em 1.5em 1em 1.5em;

    > .head {
        display: flex;
        flex-direction: column;

        .line-p {
            display: flex;
            justify-content: space-between;
            border-bottom: 0.1em solid $color-complementary-p;

            .button-m {
                margin: 0em 1em;
                font-size: $font-size-m;

                &:hover {
                    cursor: pointer;
                }
            }

            .options-m {
                display: flex;
                align-items: center;
                gap: 1rem;

                .visibility-m {

                    .visibility.button-m {
                        font-weight: 600;
                    }
                }
            }
        }

        .line-s {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 3.5em;

            .button-filter-m,
            .button-show-m,
            .button-action-m {

                &:not(.search, .order, .create) {
                    padding: 0em;
                }

                font-size: $font-size-m;
            }

            .action {
                display: flex;
                align-items: center;
                gap: 1em;
            }

            .filter {
                display: flex;
                align-items: center;
                gap: 0.75em;

                .search {
                    display: flex;
                    align-items: center;
                }

                .month-picker {
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;

                    >span {
                        color: $color-complementary-s;
                        font-weight: 600;
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }

    > .body {
        flex: 1;

        .container-dynamic {
            position: relative;
            height: 100%;
        }
    }
}