.container-config {

    .head {

        h2 {

            .icon-st {
                margin: 0em 0.5em;
            }
        }
    }

    .body {
        display: flex;

        .aside-config {
            flex: 2;
            border-right: solid 1px var(--color-complementary-p);
            margin: 0em 0em 2em 0em;

            .nav-itens {

                .head {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 2em 0em;
                }
            }
        }

        .section-options-config {
            flex: 4;
        }
    }
}