@import '../../../themes/lighttheme.scss';

.container-form-modal {

    .body {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h2 {
            position: sticky;
            top: 0rem;
            background-color: $color-white;
            font-size: 1.05rem;
            z-index: 2;
            margin: 0rem;
            padding: 0.85rem 0.5rem;
        }

        form {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            overflow-y: auto;
            height: 100%;

            >.fields {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 0.5rem;
                padding: 0rem 0.5rem;

                .field-forms {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.7rem;

                    >label {
                        display: inline-flex;
                        align-self: self-start;
                        font-weight: 600;
                        gap: 0.5rem;
                        color: $color-complementary-s;
                    }

                    .button-dropdown-form {

                        label {

                            &:nth-child(1) {
                                font-size: 0.95rem;
                            }
                        }
                    }

                    /* DOUBLE APPLY */
                    >label,
                    >div {
                        width: 100%;
                    }

                    .input-form,
                    .button-dropdown-form {
                        width: 100%;
                    }
                }
            }

            >.item-forms {

                &.goal {

                    &.selected {
                        background-color: $color-complementary-s;
                        border-radius: 0.5rem;

                        .head {

                            .item-head-1 {
                                border-bottom: none;

                                * {
                                    color: $color-white;
                                }

                                >label {

                                    .line {
                                        padding: 0.05rem;
                                        background-color: $color-white;
                                        border-radius: 0.5rem;
                                    }
                                }

                                .unlink-goal {
                                    background-color: $color-accent-p-30;

                                    &:hover {
                                        background-color: $color-accent-p;
                                    }

                                    &:active {
                                        background-color: $color-primary-50;
                                        transition: .1s linear;
                                    }
                                }
                            }

                            .item-head-2 {
                                padding: 0rem 1rem 0.5rem 1rem;

                                * {
                                    color: $color-white;
                                }
                            }
                        }
                    }
                }

                /* DOUBLE APPLY */
                &.assignment,
                &.tag,
                &.goal,
                &.details {

                    .head {
                        display: flex;
                        flex-direction: column;

                        .item-head-1 {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border-bottom: solid 1px $color-complementary-p;
                            padding: 0.5rem;

                            >label {
                                display: inline-flex;
                                font-weight: 600;
                                gap: 0.5rem;
                                color: $color-complementary-s;
                            }
                        }
                    }

                    .body {

                        textarea {
                            background-color: $color-complementary-p;
                            border: 3px solid transparent;
                            border-radius: 0.5rem;
                            padding: 0.5rem;
                            margin: 1rem 0.75rem;
                            font-weight: 600;
                            outline-color: $color-accent-p;
                            resize: vertical;
                            min-height: 5rem;

                            &:hover {
                                border-color: $color-accent-p-30;
                            }
                        }
                    }
                }

                &.assignment,
                &.tag {

                    .body {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 0.5rem;

                        .card-mini {
                            display: flex;
                            font-size: 0.85rem;
                            gap: 0.25rem;
                            width: max-content;
                            margin: 0.5rem 0rem 0rem 0rem;

                            .icon-st {
                                height: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    &.tag {

        >.body {

            form {

                >.fields {
                    grid-template-columns: none;
                    grid-template-rows: repeat(2, 1fr);

                    .field-forms {

                        &.color {

                            .field-form-info {
                                display: flex;
                                align-items: center;
                                gap: 0.5rem;
                                background-color: $color-complementary-p;
                                height: 2.4rem;
                                box-sizing: border-box;
                                padding: 0rem 0.66rem;
                                border-radius: 0.5rem;
                                border: 3px solid transparent;

                                input {
                                    border-radius: 100%;
                                    width: 1.75rem;
                                    border: 3px solid;
                                    font-weight: 500;
                                    transition: .3s ease-in-out;
                                    cursor: pointer;
                                }

                                >span {
                                    padding: 0.25rem 1rem;
                                    border-radius: 0.5rem;
                                    font-weight: 500;
                                    font-size: 0.9rem;
                                    background-color: $color-white-70;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}