@import '../../../themes/lighttheme.scss';

.container-form-modal {

    .body {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h2 {
            position: sticky;
            top: 0rem;
            background-color: $color-white;
            font-size: 1.05rem;
            z-index: 2;
            margin: 0rem;
            padding: 0.85rem 0.5rem;
        }

        form {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            overflow-y: auto;

            >.fields {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 0.5rem;

                .field-forms {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.7rem;
                    padding: 0rem 0.5rem;

                    >label {
                        display: inline-flex;
                        align-self: self-start;
                        font-weight: 600;
                        gap: 0.5rem;
                        color: $color-complementary-s;
                    }

                    input {
                        height: 1.8rem;
                        padding: 0rem 0.66rem;
                        border-radius: 0.5rem;
                        border: 3px solid transparent;
                        background-color: $color-complementary-p;
                        outline-color: $color-accent-p;

                        &:hover {
                            border-color: $color-accent-p-30;
                        }

                        &::placeholder {
                            font-weight: 600;
                        }
                    }

                    .button-dropdown {
                        border: 3px solid transparent;
                    }
                }
            }

            >.item-forms {

                &.goal {

                    &.selected {
                        background-color: $color-complementary-s;
                        border-radius: 0.5rem;

                        .head {

                            .item-head-1 {
                                border-bottom: none;

                                * {
                                    color: $color-white;
                                }

                                >label {

                                    .line {
                                        padding: 0.05rem;
                                        background-color: $color-white;
                                        border-radius: 0.5rem;
                                    }
                                }

                                .unlink-goal {
                                    background-color: $color-accent-p-30;

                                    &:hover {
                                        background-color: $color-accent-p;
                                    }
                                }
                            }

                            .item-head-2 {
                                padding: 0rem 0.5rem 0.5rem 0.5rem;

                                * {
                                    color: $color-white;
                                }
                            }
                        }
                    }
                }

                /* DOUBLE APPLY */
                &.assignment,
                &.tag,
                &.goal,
                &.details {

                    .head {
                        display: flex;
                        flex-direction: column;

                        .item-head-1 {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border-bottom: solid 1px $color-complementary-p;
                            padding: 0.5rem;

                            >label {
                                display: inline-flex;
                                font-weight: 600;
                                gap: 0.5rem;
                                color: $color-complementary-s;
                            }
                        }
                    }

                    .body {
                        padding: 0.5rem 0rem;

                        textarea {
                            background-color: $color-complementary-p;
                            border: 3px solid transparent;
                            border-radius: 0.5rem;
                            padding: 0.5rem;
                            margin: 1rem 0.75rem;
                            font-weight: 600;
                            outline-color: $color-accent-p;
                            resize: vertical;
                            min-height: 5rem;

                            &:hover {
                                border-color: $color-accent-p-30;
                            }
                        }
                    }
                }

                &.assignment,
                &.tag {

                    .body {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 0.5rem;

                        .mini-list {
                            display: flex;
                            font-size: 0.85rem;
                            gap: 0.25rem;
                            width: max-content;

                            .icon-st {
                                height: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}