.container-form-modal {

    >.body {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h2 {
            position: sticky;
            top: 0rem;
            background-color: $color-secondary;
            font-size: 1.05rem;
            z-index: 2;
            margin: 0rem;
            padding: 0.85rem 0.5rem;
        }

        form {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            overflow-y: auto;
            height: 100%;

            >.fields {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: $spacing-gap-sm;
                padding: 0rem 0.5rem;

                .field-forms {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.7rem;

                    >label {
                        display: inline-flex;
                        align-self: self-start;
                        font-weight: 600;
                        gap: $spacing-gap-sm;
                        color: $color-pair-secondary;
                    }

                    .button-dropdown-container {

                        &.form {

                            .dropdown-menu {
                                min-width: 11rem;
                                left: 0;

                                .item-option {

                                    .button-action {
                                        width: 9rem;
                                    }
                                }
                            }

                            label {

                                &:nth-child(1) {
                                    font-size: 0.95rem;
                                }
                            }
                        }
                    }

                    /* DOUBLE APPLY */
                    >label,
                    >div {
                        width: 100%;
                    }

                    .input-form,
                    .button-dropdown-container.form {
                        width: 100%;
                    }
                }
            }

            >.item-forms {

                &.goal {

                    &.selected {
                        background-color: $color-pair-secondary-darkest;
                        border-radius: $dimensions-border-radius-sm;

                        .head {

                            .item {

                                &:first-child {
                                    border-bottom: none;

                                    * {
                                        color: $color-white;
                                    }

                                    >label {

                                        .line {
                                            padding: $spacing-padding-x-mini;
                                            background-color: $color-white;
                                            border-radius: $dimensions-border-radius-sm;
                                        }
                                    }

                                    .unlink-goal {
                                        background-color: $color-neutral;

                                        &:hover {
                                            background-color: $color-neutral-darkest;
                                        }

                                        &:active {
                                            background-color: $color-neutral-light;
                                        }
                                    }
                                }

                                &:last-child {
                                    padding-bottom: 0.5rem;

                                    .schedule {
                                        padding: 0rem 1rem;
                                        font-weight: 500;
                                    }

                                    * {
                                        color: $color-white;
                                    }
                                }
                            }
                        }
                    }
                }

                &.assignment {

                    .body {

                        .card-mini {
                            border-color: $color-pair-secondary;
                        }
                    }
                }

                /* DOUBLE APPLY */
                &.assignment,
                &.tag,
                &.goal,
                &.details {

                    .head {
                        display: flex;
                        flex-direction: column;

                        .item {

                            &:first-child {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                border-bottom: solid 1px $color-pair-primary;
                                padding: $spacing-padding-sm;

                                >label {
                                    display: inline-flex;
                                    font-weight: 600;
                                    gap: $spacing-gap-sm;
                                    color: $color-pair-secondary;
                                }
                            }
                        }
                    }

                    .body {
                        display: flex;
                        flex-direction: column;

                        textarea {
                            background-color: $color-pair-primary;
                            border: 3px solid transparent;
                            border-radius: $dimensions-border-radius-sm;
                            padding: $spacing-padding-sm;
                            margin: $spacing-margin-st $spacing-margin-md;
                            font-weight: 600;
                            outline-color: $color-accent;
                            resize: vertical;
                            min-height: 10rem;
                            color: $color-pair-secondary;

                            &:hover {
                                border-color: $color-accent-light;
                            }

                            &::placeholder {
                                font-weight: 600;
                                color: $color-pair-primary-light;
                            }
                        }
                    }
                }

                &.assignment,
                &.tag {

                    .body {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: $spacing-gap-sm;
                        padding: 0rem $spacing-padding-sm;

                        .card-mini {
                            display: flex;
                            font-size: $font-size-mini;
                            gap: $spacing-gap-mini;
                            width: max-content;
                            margin: 0.5rem 0rem 0rem 0rem;

                            .icon-st {
                                height: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    &.tag {

        >.body {

            form {

                >.fields {
                    grid-template-columns: none;
                    grid-template-rows: repeat(2, 1fr);

                    .field-forms {

                        &.color {

                            .field-form-info {
                                display: flex;
                                align-items: center;
                                gap: $spacing-gap-sm;
                                background-color: $color-pair-primary;
                                height: 2.4rem;
                                box-sizing: border-box;
                                padding: 0rem 0.66rem;
                                border-radius: $dimensions-border-radius-sm;
                                border: 3px solid transparent;

                                input {
                                    border-radius: 100%;
                                    width: 1.75rem;
                                    border: 3px solid;
                                    font-weight: 500;
                                    cursor: pointer;
                                }

                                >span {
                                    padding: $spacing-padding-mini $spacing-padding-st;
                                    border-radius: $dimensions-border-radius-sm;
                                    font-weight: 500;
                                    font-size: 0.9rem;
                                    background-color: $color-secondary-darkest;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}