/* MEDIA QUERY */
@media screen and (min-width: 1920px) {

    .calendar-container {
        height: $dimensions-layout-h-md;
        width: $dimensions-layout-w-md;
        align-self: center;
    }
}

@media screen and (min-width: 2560px) {

    .calendar-container {
        height: $dimensions-layout-h-lg;
        width: $dimensions-layout-w-lg;
        align-self: center;
    }
}