.model-tabs {

    &.objectives {

        &.all-activities {

            .head {
                border-bottom: none;
                padding: 0px;
            }
        }

        .card-mini {
            cursor: pointer;
            min-height: 2rem;

            .card-mini-tag {

                >label {
                    width: 5rem;
                }

                .count {
                    width: 2.5rem;
                }
            }

            * {
                cursor: pointer;
            }
        }
    }
}

.objectives-status {
    display: flex;
    align-items: stretch;
    gap: $spacing-gap-sm;
    height: 2rem;
    padding: 0rem $spacing-padding-sm;

    .label-status {
        display: flex;
        align-items: center;
        gap: $spacing-gap-mini;
        font-weight: 500;

        &.progress {
            color: $color-complementary-s;

            * {
                color: $color-complementary-s;
            }
        }

        &.conclude {
            color: $color-success;

            * {
                color: $color-success;
            }
        }

        &.cancel {
            color: $color-cancel;

            * {
                color: $color-cancel;
            }
        }
    }
}