@import '../themes/lighttheme.scss';

.button-st {
    display: inline-flex;
    position: relative;
    padding: 0.1em 0.35em;
    font-weight: 600;
    border-radius: 0.35em;
    user-select: none;
    color: $color-complementary-s;
    cursor: pointer;

    &.circ {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 2em;
        height: 2em;

        .icon-st {
            color: $color-complementary-s;
            margin: 0em;
        }
    }

    &.sq {
        border-radius: 0em;
    }
}

.search-st {
    display: inline-flex;
    align-items: center;
    color: $color-complementary-s;
    background-color: $color-complementary-p;
    padding: 0.35rem;
    border-radius: 0.5rem;

    .search-content {
        border: none;
        background-color: transparent;
        font-weight: 600;
        margin: 0em 0.35em;
        font-size: var(--font-size-st);

        &:focus {
            outline: none;
        }
    }
}