.container-navigate {
    background-color: var(--color-complementary-p);

    .nav {
        height: 100%;

        .item-nav {

            .button-nav {

                &.home {
                    display: flex;
                    justify-content: center;

                    img {
                        width: 2.25vw;
                        margin: 1em 0em;
                    }
                }
            }
        }
    }
}