@import '../../../../themes/lighttheme.scss';

.button-dropdown {
    position: relative;
    cursor: pointer;

    > span {
        display: flex;
        align-items: center;
        gap: 0.35rem;
        font-weight: 600;
        color: $color-complementary-s;
    }

    &.plan {
        display: flex;
        height: 2.4rem;
        background-color: $color-complementary-p-50;
        transition: .3s linear;
        padding: 0rem 1rem;
        border-radius: 0.5rem;

        &:hover,
        &.active {
            background-color: $color-complementary-s;

            > span,
            .icon-st {
                color: $color-white;
            }
        }

        &:active {
            background-color: $color-complementary-s-30;
            transition: .1s linear;
        }

        &.create {
            background-color: $color-accent-p-15;

            > span,
            .icon-st {
                color: $color-accent-p;
            }

            &:hover,
            &.active {
                background-color: $color-accent-p;

                > span,
                .icon-st {
                    color: $color-white;
                }
            }

            &:active {
                background-color: $color-primary-50;
                transition: .1s linear;
            }
        }

        &.order {

            &.active {
                background-color: $color-complementary-s;

                > span,
                .icon-st {
                    color: $color-white;
                }
            }
        }
    }

    .dropdown-menu {
        position: absolute;
        display: none;
        top: 2.35rem;
        width: 10rem;
        background-color: $color-complementary-p;
        box-shadow: $box-shadow-st;
        padding: 0.5em;
        margin: 0.5em;
        border-radius: 0.2em;
        max-height: 20em;
        right: 0;

        .section-options {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            > span {
                color: $color-complementary-s;
                text-align: center;
                font-weight: 600;
                cursor: initial;
            }

            .button-action {
                width: 8rem;
                background-color: $color-accent-p-15;
                justify-content: flex-start;

                &:hover {
                    background-color: $color-accent-p;
                }

                &:active {
                    background-color: $color-primary-50;
                    transition: .1s linear;
                }
            }
        }

        &.show {
            display: flex;
            flex-direction: column;
        }

        .button-action {
            color: $color-complementary-s;
        }
    }
}