@use "../../../../themes/lighttheme" as *;
@import '../../../../themes/lighttheme.scss';

.button-dropdown {
    position: relative;
    cursor: pointer;
    user-select: none;
    width: 5.85rem;
    z-index: 1;
    transition: 0.3s ease-out;

    >span {
        display: flex;
        align-items: center;
        gap: 0.35rem;
        font-weight: 600;
        color: $color-complementary-s;
    }

    .dropdown-menu {
        position: absolute;
        display: none;
        top: 2.95rem;
        width: 10rem;
        background-color: $color-complementary-p;
        box-shadow: $box-shadow-st;
        padding: 0.5em;
        border-radius: 0.2em;
        max-height: 20em;
        right: 0;

        &.show {
            display: flex;
            flex-direction: column;
        }

        &.left {
            right: initial;
            left: 0;
        }

        .section-options {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            >span {
                color: $color-complementary-s;
                text-align: center;
                font-weight: 600;
                cursor: initial;
            }

            .button-action {
                width: 8rem;
                justify-content: flex-start;
            }
        }
    }

    &.circle {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 2.4rem;
        width: 2.4rem;
        background-color: $color-complementary-p-50;
        color: $color-complementary-s;

        &.small {
            height: 1.8rem;
            width: 1.8rem;

            .icon-st {
                height: 1rem;
            }
        }

        &.close {
            height: 1.8rem;
            width: 1.8rem;
        }
    }

    &.plan {
        display: flex;
        height: 2.4rem;
        background-color: $color-complementary-p-50;
        transition: .3s linear;
        padding: 0rem 1rem;
        border-radius: 0.5rem;
    }

    &.plan-round {
        border-radius: 2rem;
        padding: 0rem 1rem;
        justify-content: center;
        gap: 0.5rem;
    }

    &.small {
        height: 1.8rem;
        width: 5.75rem;
        justify-content: center;

        .dropdown-menu {
            top: 2.35rem;
        }
    }

    &.max-width {
        width: max-content;
    }

    &.create {
        background-color: $color-accent-p-15;

        &:hover,
        &.active {
            background-color: $color-accent-p;
        }

        &:active {
            background-color: $color-primary-50;
            transition: 0.1s ease-in-out;
        }

        >span,
        .icon-st {
            color: $color-accent-p;
        }

        .dropdown-menu {

            .button-action {
                background-color: $color-accent-p-15;

                * {
                    color: $color-primary;
                }

                &:hover {
                    background-color: $color-accent-p;

                    * {
                        color: $color-white;
                    }
                }

                &:active {
                    background-color: $color-primary-50;
                    transition: .1s linear;
                }
            }
        }
    }

    &.status {

        .dropdown-menu {

            .button-action {
                background-color: $color-accent-p-15;

                * {
                    color: $color-complementary-s;
                }

                &:hover,
                &.active {
                    background-color: $color-accent-p;

                    * {
                        color: $color-white;
                    }
                }

                &:active {
                    background-color: $color-primary-50;
                    transition: .1s linear;
                }
            }
        }
    }

    /* Double Application */
    &:hover,
    &.active {
        background-color: $color-complementary-s;

        >span,
        .icon-st {
            color: $color-white;
        }
    }

    /* Last application */
    &:active {
        background-color: $color-complementary-s-30;
        transition: 0.1s ease-in-out;
    }
}