@use "../../../../themes/lighttheme" as *;
@import '../../../../themes/lighttheme.scss';

.button-dropdown {
    position: relative;
    user-select: none;
    width: 8rem;
    z-index: 1;
    transition: 0.3s ease-out;

    .dropdown-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        gap: 0.35rem;
        font-weight: 600;
        padding: 0rem 0.5rem;
        color: $color-complementary-s;
        cursor: pointer;

        label {
            display: flex;
            height: 100%;
            align-items: center;
            cursor: inherit;

            &:nth-child(1) {
                display: flex;
                align-items: center;
                gap: 0.35rem;
            }
        }
    }

    .dropdown-menu {
        position: absolute;
        display: none;
        box-sizing: border-box;
        top: 2.95rem;
        width: 100%;
        ;
        background-color: $color-complementary-p;
        box-shadow: $box-shadow-st;
        padding: 0.5em;
        border-radius: 0.2em;
        max-height: 20em;
        right: 0;

        &.show {
            display: flex;
            flex-direction: column;
        }

        &.left {
            right: initial;
            left: 0;
        }

        .section-options {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            >span {
                color: $color-complementary-s;
                text-align: center;
                font-weight: 600;
                cursor: initial;
            }

            .button-action {
                width: 8rem;
                justify-content: space-between;
            }
        }
    }

    &.circle {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 2.4rem;
        width: 2.4rem;
        background-color: $color-complementary-p-50;
        color: $color-complementary-s;

        &.small {
            height: 1.8rem;
            width: 1.8rem;

            .icon-st {
                height: 1rem;
            }
        }

        &.close {
            height: 1.8rem;
            width: 1.8rem;
        }
    }

    &.plan {
        display: flex;
        height: 2.4rem;
        background-color: $color-complementary-p-50;
        transition: .3s linear;
        border-radius: 0.5rem;
    }

    &.plan-round {
        border-radius: 2rem;
        padding: 0rem 1rem;
        justify-content: center;
        gap: 0.5rem;
    }

    &.max-width {
        width: max-content;
    }

    &.create {
        background-color: $color-accent-p-15;

        >span,
        .icon-st {
            color: $color-accent-p;
        }

        .dropdown-menu {
            width: 11rem;

            .button-action {
                background-color: $color-accent-p-15;

                * {
                    color: $color-primary;
                }

                &:hover {
                    background-color: $color-accent-p;

                    * {
                        color: $color-white;
                    }
                }

                &:active {
                    background-color: $color-primary-50;
                    transition: .1s linear;
                }
            }
        }

        &:hover,
        &.active {
            background-color: $color-accent-p;
        }

        &:active {
            background-color: $color-primary-50;
            transition: 0.1s ease-in-out;
        }
    }

    &.status {

        .dropdown-menu {

            .button-action {
                background-color: $color-accent-p-15;

                * {
                    color: $color-complementary-s;
                }

                &:hover,
                &.active {
                    background-color: $color-accent-p;

                    * {
                        color: $color-white;
                    }
                }

                &:active {
                    background-color: $color-primary-50;
                    transition: .1s linear;
                }
            }
        }
    }

    &.button-dropdown-form {
        height: 2.4rem;
        box-sizing: border-box;
        padding: 0rem 0.66rem;
        justify-content: center;

        .dropdown-menu {
            top: 3rem;
        }
    }

    /* Double Application */
    &:hover,
    &.active {
        background-color: $color-complementary-s;

        >.dropdown-title,
        .icon-st {
            color: $color-white;
        }
    }

    /* Last application */
    &:active {
        background-color: $color-complementary-s-30;
        transition: 0.1s ease-in-out;
    }
}