.container-main {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $spacing-gap-sm;
    padding: $spacing-padding-xlg;
    justify-content: center;

    >.head {
        display: flex;
        flex-direction: column;

        .sub-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 3.5em;
            border-bottom: solid 2px $color-pair-primary;

            >div {
                display: flex;
                align-items: center;
                gap: $spacing-gap-md;

                &:first-child {

                    .month-picker {
                        display: flex;
                        align-items: center;
                        gap: $spacing-gap-sm;

                        >label {
                            display: inline-flex;
                            justify-content: center;
                            width: $dimensions-w-sm;
                            color: $color-pair-secondary;
                            font-weight: 600;
                            font-size: $font-size-m;
                        }
                    }
                }
            }
        }
    }

    >.body {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-height: 0;

        .section {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            min-height: 0;
        }
    }

    .container-popup {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -50%);

        &.minimize {
            bottom: -5%;
        }
    }
}

/* MEDIA QUERY */
@media screen and (min-width: 1920px) {

    .container-main {

        >.head {
            width: $dimensions-layout-w-md;
            align-self: center;
            justify-content: center;
        }

        >.body {
            flex-grow: 0;
        }

        .container-popup {
            bottom: -10%;

            &.minimize {
                bottom: -15%;
            }
        }
    }
}

@media screen and (min-width: 2560px) {

    .container-main {

        >.head {
            width: $dimensions-layout-w-lg;
        }
    }
}