@import '../../../themes/lighttheme.scss';
@import '../../../styles/typography.scss';

.column {

    &.home {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        .itens {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex: 2;
            gap: 1rem;
            overflow: hidden;

            .column {
                display: flex;
                flex-direction: column;
                background-color: $color-complementary-p;
                flex: 1;
                border-radius: 0.35em;
                overflow: hidden;
                gap: 0.5rem;

                &:nth-child(1) {

                    >.head {
                        background-color: $color-complementary-s-15;
                        color: $color-complementary-s;
                    }
                }

                &:nth-child(2) {

                    >.head {
                        color: $color-complementary-s;
                    }
                }

                &:nth-child(3) {

                    >.head {
                        color: $color-complementary-s;
                    }
                }

                >.head {
                    height: 3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;

                    label {
                        font-weight: 600;
                    }
                }

                >.body {
                    height: 85%;
                    padding: 0rem 0.5em;
                    overflow-y: auto;
                }
            }
        }
    }
}

.chart-pie {

    &.home {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        .head {
            flex: 1;
        }

        .body {
            flex: 10;
            width: 100%;
        }
    }
}