@import '../../../themes/lighttheme.scss';
@import '../../../styles/typography.scss';

.column {

    &.home {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        min-height: 0;

        .list-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex: 2;
            gap: 1rem;
            overflow: hidden;

            .column {
                display: flex;
                flex-direction: column;
                background-color: $color-complementary-p;
                flex: 1;
                border-radius: 0.35em;
                border: 3px solid transparent;
                overflow: hidden;
                gap: 0.5rem;

                &:nth-child(1) {

                    >.head {
                        background-color: $color-complementary-s-15;
                        color: $color-complementary-s;
                    }
                }

                &:nth-child(2) {

                    >.head {
                        background-color: $color-success-70;
                        color: $color-white;

                        * {
                            color: $color-white;   
                        }
                    }
                }

                &:nth-child(3) {

                    >.head {
                        background-color: $color-cancel-70;
                        color: $color-white;

                        * {
                            color: $color-white;   
                        }                    }
                }

                >.head {
                    padding: 1.15rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;
                    border-radius: 0.35em;

                    label {
                        font-weight: 600;
                    }
                }

                >.body {
                    padding: 0rem 0.5em;
                    overflow-y: auto;
                    flex-grow: 1;
                    min-height: 0;

                    .list {
                        min-height: 55dvh;
                    }
                }
            }
        }
    }
}

.chart-pie {

    &.home {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        .head {
            flex: 1;
        }

        .body {
            flex: 10;
            width: 100%;
        }
    }
}