.column {
    position: relative;

    &.home {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        min-height: 0;

        .list-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex: 2;
            gap: 1rem;
            overflow: hidden;

            .column {
                display: flex;
                flex-direction: column;
                background-color: $color-complementary-p-50;
                flex: 1;
                border-radius: 0.35em;
                border: 3px solid transparent;
                overflow: hidden;
                gap: 0.5rem;

                &.progress {

                    >.head {
                        background-color: $color-complementary-s-15;
                        color: $color-complementary-s;
                    }
                }

                &.conclude {

                    >.head {
                        background-color: $color-success-70;
                        color: $color-white;

                        * {
                            color: $color-white;
                        }
                    }
                }

                &.cancel {

                    >.head {
                        background-color: $color-cancel-70;
                        color: $color-white;

                        * {
                            color: $color-white;
                        }
                    }
                }

                >.head {
                    padding: 1.15rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;
                    border-radius: 0.35em;

                    label {
                        font-weight: 600;
                    }
                }

                >.body {
                    padding: 0rem 0.5em;
                    overflow-y: auto;
                    flex-grow: 1;
                    min-height: 0;

                    .list {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        min-height: 55dvh;

                        .card-mini {
                            min-height: 2rem;
                        }
                    }
                }
            }
        }

        .container-popup {
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.chart {
    position: relative;

    &.home {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;

        >.body {
            display: flex;
            flex: 10;
            width: 100%;
            gap: $spacing-gap-st;

            >div {
                flex: 1;
                animation: $animation-fade-in 0.1s linear forwards;
            }

            /* DPUBLE APPLY */

            .chart-bar,
            .chart-pie {
                width: 100%;
            }
        }

        .container-popup {
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}