@use "../../themes/lighttheme" as *;
@import '../../themes/lighttheme.scss';
@import '../../styles/typography.scss';

.content-center {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: $color-white;
    border-radius: 0.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 42.5rem;
    width: 52.5rem;
    opacity: 0;
    z-index: -1;
    box-shadow: $box-shadow-st;
    transition: 0.3s ease-in-out;

    .container-form-modal,
    .container-config {
        display: none;
        height: 100%;

        &.container-config {

            >.head {
                margin: 0rem 0rem 2rem 0rem;
            }
        }

        >.head {
            display: flex;
            align-items: center;
            flex: 1;
            border-bottom: solid 1px $color-complementary-p;
            padding: 0rem 1rem;
            gap: 0.5rem;

            h2,
            .objective-options {
                flex: 2;

                .objective-op {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }
            }
        }

        >.body {
            flex: 10;
            margin: 0rem 0.5rem;
            overflow: hidden;
        }

        >.bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
        }
    }

    .container-list-modal {
        position: absolute;
        border-radius: 0.5em;
        top: 50%;
        left: 50%;
        width: 14.5rem;
        transform: translate(-50%, -50%);
        background-color: $color-white;
        box-shadow: $box-shadow-st;
        overflow: hidden;
        height: 26rem;
    }

    &.show {
        opacity: 1;
        z-index: 1;
    }

    &.config {

        .container-config {
            display: flex;
            flex-direction: column;
        }
    }

    &.goal,
    &.assignment {

        .container-form-modal {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
}

.content-right,
.content-left {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 35em;
    background-color: $color-complementary-p;
    box-shadow: $box-shadow-st;
    opacity: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;

    .container-tag,
    .container-modaldetails {
        display: none;
    }

    &.tag {

        .container-tag {
            display: flex;
            flex-direction: column;
        }
    }

    &.goal,
    &.assignment {

        .container-modaldetails {
            display: flex;
            flex-direction: column;
        }
    }

    &.show {
        opacity: 1;
        z-index: 1;
    }

    &.content-right {
        right: 0;

        .aside-content {

            .header {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: $color-complementary-s-30;
                padding: 0.5em;
                
                h2, h4 {
                    margin: 0.83em 0.5em;
                    color: $color-complementary-s;
                }

                .close {
                    position: absolute;
                    left: -3em;
                }

                .options {
                    margin: 0em 2em;
                    display: flex;
                    align-items: center;
                    gap: 1em;
                    color: $color-complementary-s;

                    .btn-option-r {

                        &:not(.create) {
                            width: 1.25em;
                        }

                        &.create {
                            padding: 0.15em;

                            .icon-st {
                                font-size: $font-size-st;
                            }
                        }
                    }
                }
            }
        }
    }
}