.chart-cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: $spacing-gap-sm;

    .card-chart {
        display: grid;
        border-radius: $dimensions-border-radius-sm;
        padding: $spacing-padding-st;
        transition: $animation-transition-st;

        .head {
            display: flex;
            flex-direction: column;

            div:first-child {
                display: flex;
                justify-content: space-between;

                >div {
                    display: flex;
                    align-items: center;
                    gap: $spacing-gap-mini;
                    font-weight: 800;
                }
            }

            .label-activity {
                font-weight: 500;
            }

            .label-percent {
                font-weight: 800;
                font-size: $font-size-lg;
            }
        }

        .body {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.progress {
            background-color: $color-pair-secondary-lightest;

            .head {

                >div {

                    * {
                        color: $color-pair-secondary-darkest;
                    }
                }
            }

            .body {

                .button-action {
                    background-color: $color-pair-secondary-darkest;

                    &:hover {
                        background-color: $color-pair-secondary-dark;
                    }

                    &:active {
                        background-color: $color-pair-secondary-light;
                    }
                }
            }
        }

        &.conclude {
            background-color: $color-success-lightest;

            .head {

                >div {

                    * {
                        color: $color-success-darkest;
                    }
                }
            }

            .body {

                .button-action {
                    background-color: $color-success-darkest;

                    &:hover {
                        background-color: $color-success-dark;
                    }

                    &:active {
                        background-color: $color-success-light;
                    }
                }
            }
        }

        &.cancel {
            background-color: $color-neutral-lightest;

            .head {

                >div {

                    * {
                        color: $color-secondary-darkest;
                    }
                }
            }

            .body {

                .button-action {
                    background-color: $color-neutral-darkest;

                    &:hover {
                        background-color: $color-neutral-dark;
                    }

                    &:active {
                        background-color: $color-secondary-light;
                    }
                }
            }
        }

        &.tag {
            border: solid 3.25px $color-pair-secondary;

            .head {

                >div {

                    * {
                        color: $color-pair-secondary;
                    }
                }
            }

            .body {

                .button-action {
                    background-color: $color-pair-secondary-darkest;

                    &:hover {
                        background-color: $color-pair-secondary-dark;
                    }

                    &:active {
                        background-color: $color-pair-secondary-light;
                    }
                }
            }
        }
    }
}