.container-form-modal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 44rem;
    width: 52.5rem;

    > .head {
        display: flex;
        align-items: center;
        border-bottom: solid 1px $color-pair-primary;
        padding: $spacing-padding-st;
        gap: $spacing-gap-sm;

        h2,
        .objective-options {
            flex: 2;

            .objective-op {
                display: flex;
                align-items: center;
                gap: $spacing-gap-sm;
            }
        }
    }

    > .body {
        flex: 1;
        margin: 0rem $spacing-margin-sm;
        overflow: hidden;
    }

    > .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $spacing-padding-st;
    }

    &.tag {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: $spacing-gap-md;
        width: 60%;
        height: $dimensions-h-video-lg;
        margin: 0.5rem;
        padding: $spacing-padding-st;
        border-radius: $dimensions-border-radius-sm;
        background-color: $color-secondary;
        box-shadow: $shadow-st;
        right: 0;
        z-index: 1;

        > .head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: solid 1px $color-pair-primary;
            padding: 0;

            h2 {
                display: inline-flex;
                gap: $spacing-gap-sm;
                font-size: 1.05rem;
                margin: 0rem;
                padding: 0.85rem 0.5rem;
                color: $color-pair-secondary;
            }
        }

        > .bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
        }
    }

    .container-list-modal {
        .card-mini {
            cursor: pointer;
        }
    }
}
