.input-color-container {
    display: flex;
    flex-direction: column;
    gap: $spacing-gap-sm;

    >.input {
        display: flex;
        align-items: center;
        gap: $spacing-gap-sm;
        border-radius: $dimensions-border-radius-sm;
        border: 3px solid transparent;
        height: 2.1rem;
        padding: 0rem 0.66rem;
        background-color: $color-pair-primary;

        .input-color {
            background-color: transparent;
            border-radius: 100%;
            width: 1.75rem;
            border: 3px solid;
            cursor: pointer;
        }

        >span {
            color: $color-pair-secondary;
            font-weight: 600;
            font-size: $font-size-sm;
        }

        &:hover,
        &:focus-within {
            border-color: $color-accent-light;
        }

        &:focus-within {
            outline: auto;
            outline-color: $color-white;
        }

        &::placeholder {
            font-weight: 600;
        }

        &.error {
            border-color: $color-error;
            outline-color: $color-error-dark;

            &::placeholder {
                font-weight: 600;
                color: $color-pair-primary-light;
            }
        }
    }

    .input-color-error {
        font-size: $font-size-mini;
        font-weight: 600;
        color: $color-error;
        padding: 0rem $spacing-padding-sm;
    }
}