.container-popup {
    display: flex;
    align-items: center;
    gap: $spacing-gap-sm;
    padding: $spacing-padding-sm;
    border-radius: $dimensions-border-radius-st;
    background-color: $color-secondary;
    box-shadow: $box-shadow-sm;
    width: max-content;
    animation: $animation-fade-in 0.2s linear forwards;
    transition: $animation-transition-st;
    z-index: 2;

    .button-action {
        width: 7.5rem;

        &:hover {
            background-color: $color-complementary-s;
        }

        &:active {
            background-color: $color-complementary-s-70;
        }

        &.conclude {

            &:hover {
                background-color: $color-success-70;
            }

            &:active {
                background-color: $color-success-50;
            }
        }

        &.cancel {

            &:hover {
                background-color: $color-cancel-70;
            }

            &:active {
                background-color: $color-cancel-50;
            }
        }

        &.delete {

            &:hover {
                background-color: $color-delete-70;
            }

            &:active {
                background-color: $color-delete-50;
            }
        }

        &.popup-minimize {
            background-color: $color-complementary-s;

            * {
                color: $color-secondary;
            }

            &:hover {
                background-color: $color-complementary-s-70;
            }
            
            &:active {
                background-color: $color-complementary-s-50;
            }
        }
    }

    &.minimize {
        z-index: 1;

        .button-action {

            &.popup-minimize {
                transform: rotate(180deg);
            }
        }
    }
}