@import '../../../../themes/lighttheme.scss';

// Spinner animation
.spinner-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-complementary-s-15;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.35rem;
    animation: fade-in 0.8s ease-out forwards;

  .spinner {
    width: 3.75rem;
    height: 3.75rem;
    border: 6px solid rgba($color-complementary-s, 0.2);
    border-top-color: $color-complementary-s;
    border-radius: 50%;
    animation: spin 2s ease-out infinite;
  }
}

.spinner-inline {
    width: 1rem;
    height: 1rem;
    border: 4px solid rgba($color-complementary-s, 0.2);
    border-top-color: $color-complementary-s;
    border-radius: 50%;
    animation: spin 2s ease-out infinite;
}

// Animations
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}