.container-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 35em;
    background-color: $color-secondary;
    box-shadow: $shadow-st;
    transition: $animation-transition-st;
    animation: $animation-fade-in 0.2s linear forwards;
    opacity: 0;
    z-index: -1;

    > .head {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-pair-secondary-darkest;
        padding: $spacing-padding-sm;
        height: 6dvh;

        h2,
        h4 {
            display: -webkit-box;
            margin: 0rem $spacing-margin-sm;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            color: $color-pair-secondary-lightest;
        }

        .title {
            display: flex;
            align-items: center;
            gap: $spacing-gap-mini;

            .icon-st {
                flex-shrink: 0;
            }

            * {
                color: $color-pair-secondary-lightest;
            }
        }

        .sub-title {
            color: $color-pair-secondary-lightest;
            font-weight: 500;
        }

        .close {
            position: absolute;
            left: -3em;
        }

        .button-action {
            flex-shrink: 0;
        }
    }

    > .body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-height: 0;
        padding: $spacing-padding-sm;
    }

    &.modal-right {
        top: 0;
        right: 0;
    }

    &.modal-center {
        position: absolute;
        border-radius: $dimensions-border-radius-sm;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: $shadow-st;
        width: max-content;
        height: max-content;

        .container-list-modal {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
        }
    }

    &.show {
        opacity: 1;
        z-index: 2;
    }
}
