.button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.4rem;
    width: 2.4rem;
    background-color: $color-pair-secondary-light;
    transition: $animation-transition-st;
    cursor: pointer;

    * {
        color: $color-white;
    }

    .button-title {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        animation: $animation-fade-in 0.25s linear forwards;

        .icon-st {
            width: 1.25rem;
        }
    }

    &.circle {
        border-radius: $spacing-padding-xlg;
    }

    &.plan-round {
        border-radius: $dimensions-border-radius-st;
        padding: $spacing-padding-mini $spacing-padding-st;
        justify-content: start;
        gap: $spacing-gap-sm;
        font-weight: 600;
    }

    &.logo {
        padding: $spacing-padding-mini;

        * {
            color: $color-contrast;
        }
    }

    &.home {
        background-color: $color-accent;
    }

    /* DOUBLE APPLY */
    &:hover,
    &.active {
        background-color: $color-pair-secondary;

        &.home {
            background-color: $color-accent-lightest;
        }
    }

    /* Last application */
    &:active {
        background-color: $color-pair-secondary-dark;

        &.home {
            background-color: $color-accent-light;
        }
    }
}