.container-popup {
    display: flex;
    align-items: center;
    gap: $spacing-gap-sm;
    padding: $spacing-padding-sm;
    border-radius: $dimensions-border-radius-st;
    background-color: $color-secondary;
    box-shadow: $shadow-sm;
    width: max-content;
    animation: $animation-fade-in 0.2s linear forwards;
    transition: $animation-transition-st;
    z-index: 2;

    .button-action {
        width: 7.5rem;

        &.conclude {
            background-color: $color-success;

            &:hover {
                background-color: $color-success-light;
            }

            &:active {
                background-color: $color-success-dark;
            }
        }

        &.cancel {
            background-color: $color-neutral;

            &:hover {
                background-color: $color-neutral-dark;
            }

            &:active {
                background-color: $color-neutral-darkest;
            }
        }

        &.delete {
            background-color: $color-error;

            &:hover {
                background-color: $color-error-light;
            }

            &:active {
                background-color: $color-error-dark;
            }
        }
    }

    &.minimize {
        z-index: 1;

        .button-action {

            &.popup-minimize {
                transform: rotate(180deg);
            }
        }
    }
}