.tag {

    &.card-relation {
        display: flex;
        flex-direction: column;
        border-radius: $dimensions-border-radius-sm;
        padding: $spacing-padding-sm;
        transition: max-height 0.3s linear;
        overflow: hidden;
        max-height: 2.55rem;
        flex-shrink: 0;

        >.head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: $dimensions-border-radius-sm;
            padding: 0.15rem 0.5rem;
            transition: $animation-transition-st;

            >label {
                display: flex;
                gap: 0.35rem;
                font-weight: 600;

                * {
                    color: $color-white;
                }

                .button-checkbox {
                    display: none;

                    .checkbox-container {
                        border-color: $color-white;
                    }
                }

            }

            .side-actions {
                display: flex;
                align-items: center;
                gap: $spacing-gap-sm;
                border-radius: 1rem;
                overflow: hidden;
                padding: $spacing-padding-mini;

                .button-action {
                    flex-shrink: 0;

                    &.delete,
                    &.edit {
                        opacity: 0;
                    }
                }
            }
        }

        >.body {
            display: flex;
            flex-direction: column;
            gap: 0.35rem;
            padding: $spacing-margin-mini;

            .content {
                display: flex;
                flex-direction: column;
                gap: 0.35rem;
                padding: $spacing-margin-mini;
                border-radius: $dimensions-border-radius-sm;
                background-color: $color-contrast-o-15;

                .message {
                    display: inline-flex;
                    align-items: center;
                    gap: 0.35rem;
                    font-weight: 600;
                    font-size: 0.9rem;
                    height: 2rem;
                    padding: 0rem $spacing-padding-mini;

                    * {
                        color: $color-pair-secondary;
                    }
                }
            }
        }

        &.relationed {
            gap: $spacing-gap-sm;

            >.head {
                cursor: pointer;

                * {
                    cursor: pointer;
                }

                .side-actions {
                    background-color: $color-white-o-15;
                    width: 1.8rem;
                }

                &:active {
                    background-color: $color-white-o-15;
                }
            }

            &:hover {

                >.head {

                    .side-actions {
                        width: 6.5rem;
                    }
                }
            }
        }

        &.open {
            max-height: 120rem;

            >.head {

                .side-actions {

                    .button-action {

                        &.expand {

                            .icon-st {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }

        &.pending {
            pointer-events: none;
            opacity: 0.7;

            >.head {

                .side-actions {

                    .button-action {

                        &.delete {
                            opacity: 1;
                        }
                    }
                }
            }

            &.relationed {

                >.head {

                    .side-actions {
                        width: 4rem;
                    }
                }
            }
        }

        &.selected {

            >.head {

                >label {

                    .button-checkbox {
                        display: flex;
                    }
                }
            }
        }

        &:hover {

            >.head {

                >label {

                    .button-checkbox {
                        display: flex;
                    }
                }

                .side-actions {
                    justify-content: center;
                    width: 4.125rem;

                    .button-action {

                        &.delete,
                        &.edit {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &.card-mini {

        * {
            color: $color-white;
        }
    }

    /* DOUBLE APPLY */
    &.card-relation,
    &.card-mini {

        .title {
            text-shadow: $text-shadow-st;
        }
    }
}