.button-dropdown-container {
    position: relative;
    user-select: none;
    z-index: 1;
    transition: 0.3s ease-out;

    .dropdown-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        gap: 0.35rem;
        font-weight: 600;
        padding: 0rem 0.5rem;
        color: $color-complementary-s;
        cursor: pointer;

        label {
            display: flex;
            height: 100%;
            align-items: center;
            cursor: inherit;

            &:nth-child(1) {
                display: flex;
                align-items: center;
                gap: 0.35rem;
            }
        }
    }

    .dropdown-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 0.5rem;
        top: 2.95rem;
        min-width: 10rem;
        background-color: $color-complementary-p;
        box-shadow: $box-shadow-st;
        padding: 0.5em;
        border-radius: 0.2em;
        max-height: 20em;
        right: 0;

        &.show {
            display: flex;
            flex-direction: column;
        }

        &.left {
            right: initial;
            left: 0;
        }

        >span {
            color: $color-complementary-s;
            text-align: center;
            font-weight: 600;
            cursor: initial;
        }

        .item-option {

            .button-action {
                width: stretch;
                justify-content: space-between;
                background-color: $color-accent-p-15;
                color: $color-complementary-s;
                white-space: nowrap;

                * {
                    color: $color-complementary-s;
                }

                .icon-st {
                    min-width: 1rem;
                    height: 1.125rem;
                }

                &.active {
                    background-color: $color-complementary-s;

                    * {
                        color: $color-white;
                    }
                }

                &:hover {
                    background-color: $color-accent-p-50;

                    * {
                        color: $color-white;
                    }
                }

                &:active {
                    background-color: $color-primary-50;
                    transition: .1s linear;
                }
            }

            &.switch-cards {
                width: max-content;
                padding: 0.25rem 0.5rem;
                border-radius: 2rem;
                align-self: self-end;
            }

            &.group {

                .groups {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    background-color: $color-white;
                    padding: 0.25rem;
                    border-radius: 1rem;
                }
            }
        }
    }

    &.create {

        >.button-action {
            background-color: $color-accent-p-15;

            &:hover,
            &.active {
                background-color: $color-accent-p;

                >span,
                .icon-st {
                    color: $color-white;
                }
            }

            &:active {
                background-color: $color-primary-50;
                transition: 0.1s ease-in-out;
            }
        }
    }

    &.status {

        .dropdown-menu {

            .button-action {
                background-color: $color-accent-p-15;

                * {
                    color: $color-complementary-s;
                }

                &:hover,
                &.active {
                    background-color: $color-accent-p;

                    * {
                        color: $color-white;
                    }
                }

                &:active {
                    background-color: $color-primary-50;
                    transition: .1s linear;
                }
            }
        }
    }

    &.button-dropdown-form {
        height: 2.4rem;
        box-sizing: border-box;
        padding: 0rem 0.66rem;
        justify-content: center;

        .dropdown-menu {
            top: 3rem;
        }
    }
}