.search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 2.5rem;
    z-index: 2;
    transition: $animation-transition-st;

    .search-bar {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $color-complementary-s;
        background-color: $color-complementary-p-50;
        padding: 0rem 0.35rem;
        border-radius: 1rem;
        height: 2.4rem;
        cursor: pointer;
        transition: $animation-transition-st;

        .search-content {
            border: none;
            background-color: transparent;
            font-weight: 600;
            margin: 0;
            padding: 0;
            width: 0;
            font-size: var(--font-size-st);
            caret-color: $color-complementary-s;
            transition: $animation-transition-st;
            opacity: 0;
            color: $color-complementary-s;

            &:focus {
                outline: none;
            }
        }

        &:hover {
            background-color: $color-complementary-s;

            .tooltip {

                .icon-st {
                    color: $color-secondary;
                }
            }
        }

        &:active {
            background-color: $color-complementary-s-70;
        }
    }

    .search-box {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-height: 70dvh;
        overflow-y: auto;
        background-color: $color-secondary;
        box-shadow: $box-shadow-st;
        padding: $spacing-padding-sm;
        border-radius: $dimensions-border-radius-sm;
        gap: $spacing-gap-sm;
        top: 2.95rem;
        left: 0;
        right: 0;
        animation: $animation-fade-in 0.2s linear forwards;

        .item {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            padding: $spacing-padding-mini $spacing-padding-sm;
            border-radius: $dimensions-border-radius-sm;
            gap: $spacing-gap-mini;

            >.head {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: $spacing-gap-sm;

                .item-info {
                    overflow: hidden;
                    cursor: pointer;
                    transition: .3s linear;
                    padding: 0rem 0.5rem;
                    border-radius: $dimensions-border-radius-sm;
                    height: 1.8rem;
                    flex: 10;

                    .icon-st {
                        flex-shrink: 0;
                    }

                    >label {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-weight: 600;
                        color: $color-complementary-s;

                        &.message {
                            display: inline-flex;
                            height: 1.8rem;
                            justify-content: center;
                            align-items: center;
                            overflow: visible;
                            width: 100%;
                        }
                    }

                    * {
                        cursor: pointer;
                    }

                    &:hover {
                        background-color: $color-complementary-p;
                    }

                    &:active {
                        background-color: $color-complementary-p-70;
                    }
                }

                .item-action {
                    flex: 1;
                }

                /* Double application */
                .item-info,
                .item-action {
                    display: flex;
                    align-items: center;
                    gap: $spacing-gap-sm;
                }
            }

            >.item-info {
                white-space: nowrap;
                text-overflow: ellipsis;

                .message {
                    font-weight: 500;
                    color: $color-complementary-s;
                }
            }

            &.tag {
                overflow: hidden;
                max-height: 1.75rem;
                transition: max-height 0.3s linear;

                >.head {

                    .item-info {

                        &:hover {
                            background-color: $color-secondary-30
                        }

                        &:active {
                            background-color: $color-secondary-50
                        }
                    }
                }

                >.body {

                    .item-content {
                        display: flex;
                        flex-wrap: wrap;
                        gap: $spacing-gap-mini;

                        .item-tag {
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            gap: $spacing-gap-mini;
                            font-size: 0.875rem;
                            font-weight: 500;
                            background-color: $color-white-30;
                            padding: $spacing-padding-mini $spacing-padding-sm;
                            border-radius: $dimensions-border-radius-sm;
                            transition: .3s linear;
                            color: $color-complementary-s;

                            .icon-st {
                                height: 1rem;
                            }

                            &:hover {
                                background-color: $color-secondary-30
                            }

                            &:active {
                                background-color: $color-secondary-50
                            }
                        }
                    }
                }

                &.open {
                    max-height: 20rem;

                    >.head {

                        .item-action {

                            .button-action {

                                &.expand {

                                    .icon-st {
                                        transform: rotate(180deg);
                                    }

                                    &:active {
                                        background-color: $color-complementary-s-30;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.goal,
            &.assignment {
                background-color: $color-complementary-p-30;
            }
        }
    }

    &.active {
        overflow: visible;
        width: 20rem;

        .search-bar {
            gap: $spacing-gap-mini;
            cursor: default;

            .search-content {
                flex: 1;
                opacity: 1;

                &:focus {
                    outline: none;
                }
            }

            &:hover {
                background-color: $color-complementary-p-50;

                .tooltip {

                    .icon-st {
                        color: inherit;
                    }
                }
            }
        }
    }
}