@import '../../../../themes/lighttheme.scss';

.card-mini {
    display: flex;
    align-items: center;
    background-color: $color-complementary-p;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: solid 1px $color-complementary-s-30;
    font-weight: 600;
    color: $color-complementary-s;

    .line-info {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .side-actions {
        display: flex;
        align-items: end;
        justify-content: start;
        gap: 0.5rem;
        opacity: 0;
        transition: .1s ease-in-out;

        .item-actions {
            display: flex;
            align-items: end;
            gap: 0.5rem;
        }
    }

    &:hover {

        .side-actions {
            opacity: 1;
        }
    }
}