@import '../../../../themes/lighttheme.scss';

.card-mini {
    display: flex;
    align-items: center;
    background-color: $color-complementary-p;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: solid 1px $color-complementary-s-30;
    font-weight: 600;
    color: $color-complementary-s;

    >a {
        text-decoration: none;
        color: $color-complementary-s;

        .line-info {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }

    .side-actions {

        .remove-dom {
            display: flex;
            cursor: pointer;
        }
    }
}