@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  margin: 0;

  .container-app {
    position: relative;
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "container-navigate container-header"
      "container-navigate container-main";

    .container-header {
      grid-area: container-header;
    }

    .container-navigate {
      grid-area: container-navigate;
    }

    .container-main {
      grid-area: container-main;
      min-height: 0;
    }
  }
}

// Scrollbar variables
$scrollbar-width: 8px;
$scrollbar-bg: transparent;
$scrollbar-thumb-radius: 4px;

// Mixin scrollbar
@mixin overlay-scrollbar {
  scrollbar-width: thin; // Firefox
  scrollbar-color: $scrollbar-color $scrollbar-bg;

  &::-webkit-scrollbar {
    width: $scrollbar-width;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar-bg;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
    border-radius: $scrollbar-thumb-radius;
    border: 2px solid $scrollbar-bg;
  }
}

// Container apply
.scrollable {
  padding-right: $scrollbar-width; // avoid content cut
  @include overlay-scrollbar;
}