@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import '../ui/themes/lighttheme.scss';

/* DEFAULT COLORS (DON'T FINISHED YET) */

//SHADOWS
/* #172B4D */
/* #0D316F */
/* #124499 */
/* #1E6DF7 */

//MONOCHROMATIC
/* #1F2C44 */
/* #9EC2FF */
/* #124499 */

/*COLOS DEFINED (IN PROGRESS...)
#172B4D - primary
#16B0F7 - secondary
#75a8ff - accent
#5E5850 - accent complementary
#1E1E1E - color text

#EAEAEA - complementary primary
#C0C0C0 - complementary primary s
#7B7B7B - complementary sencodary
#171717 - complementary accent
*/

body {
  margin: 0;

  .container-app {
    position: relative;
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    display: grid;
    grid-template-columns: 4.5em 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "container-navigate container-header"
      "container-navigate container-main";

    .container-header {
      grid-area: container-header;
      z-index: 0;

    }

    .container-navigate {
      grid-area: container-navigate;
      z-index: 0;

    }

    .container-main {
      grid-area: container-main;
      z-index: 0;
      min-height: 0;
      overflow: hidden;
    }
  }
}

.icon-st {
  height: 1.35rem;
  color: $color-complementary-s;
}

// Scrollbar variables
$scrollbar-width: 8px;
$scrollbar-bg: transparent;
$scrollbar-thumb-radius: 4px;

// Mixin scrollbar
@mixin overlay-scrollbar {
  scrollbar-width: thin; // Firefox
  scrollbar-color: $scrollbar-color $scrollbar-bg;

  &::-webkit-scrollbar {
    width: $scrollbar-width;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar-bg;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
    border-radius: $scrollbar-thumb-radius;
    border: 2px solid $scrollbar-bg;
  }
}

// Container apply
.scrollable {
  padding-right: $scrollbar-width; // avoid content cut
  @include overlay-scrollbar;
}