@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* DEFAULT COLORS (DON'T FINISHED YET) */

//SHADOWS
/* #172B4D */
/* #0D316F */
/* #124499 */
/* #1E6DF7 */

//MONOCHROMATIC
/* #1F2C44 */
/* #9EC2FF */
/* #124499 */

/*COLOS DEFINED (IN PROGRESS...)
#172B4D - primary
#9EC2FF - secondary
#75a8ff - accent
#5E5850 - accent complementary
#1E1E1E - color text

#EAEAEA - complementary primary
#C0C0C0 - complementary primary s
#7B7B7B - complementary sencodary
#171717 - complementary accent
*/

//Icon size
$icon-size-st: 1.25rem;
$icon-size-lg: 1.5rem;
$icon-size-small: 1rem;
$icon-size-mini: 0.9rem;

//Light mode
$color-primary: #172B4D;
$color-white: #fff;
$color-complementary-p: #EAEAEA;
$color-complementary-s: #5E5850;

//Opacity Light
$color-primary-o2: rgba($color-primary, 0.2);
$color-complementary-s-o8: rgba($color-complementary-s, 0.8);
$color-complementary-s-o25: rgba($color-complementary-s, 0.225);
$color-complementary-s-o12: rgba($color-complementary-s, 0.102);

//Shadow Light
$color-complementary-p-sw: #C6C6C6;

//Font size
$font-size-st: 1em;
$font-size-mini: 0.85em;
$font-size-m: 1.2em;

//Others
$box-shadow-st: 0.01em 0.01em 0.45em 0.01em $color-complementary-s-o25;

* {
    font-family: 'Quicksand', 'Gill Sans', 'Segoe UI', 'sans-serif';
    transition: .3s ease-in-out;
}

body {
    margin: 0;

    .container-app {
        position: relative;
        height: 100vh;
        margin: 0;
        padding: 0;

        display: grid;
        grid-template-columns: 4.5em 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
        "container-navigate container-header"
        "container-navigate container-main";

        .container-header {
            grid-area: container-header;

            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0em 1.5em 0.5em 1.5em;

            .nav {
                display: flex;

                .item-nav {
                    display: flex;
                    justify-content: center;
                    padding: 0.35em 0.5em;
                    margin: 0.25em;

                    a {
                        color: inherit;
                    }
                }
            }
        }

        .container-navigate {
            grid-area: container-navigate;
        }

        .container-main {
            grid-area: container-main;
            display: flex;
            flex-direction: column;
            margin: 0em 1.5em 1em 1.5em;

            .head {
                display: flex;
                flex-direction: column;
                flex: 1;

                .line-p {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 0.1em solid $color-complementary-p;

                    .button-m {
                        margin: 0em 1em;
                        font-size: $font-size-m;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .options-m {
                        display: flex;
                        align-items: center;

                        .visibility-m {

                            .visibility.button-m {
                                font-weight: 600;
                            }
                        }
                    }
                }

                .line-s {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 3.5em;

                    .button-filter-m,
                    .button-show-m,
                    .button-action-m {
                        
                        &:not(.search, .order, .create) {
                            padding: 0em;
                        }

                        font-size: $font-size-m;
                    }

                    .action {
                        display: flex;
                        align-items: center;
                        gap: 1em;
                    }

                    .filter {
                        display: flex;
                        align-items: center;
                        gap: 0.75em;

                        .search {
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }

            .body {
                flex: 5;

                .container-dynamic {
                    height: 100%;
                }
            }
        }

        .content-center {
            display: flex;
            flex-direction: column;
            position: absolute;
            background-color: $color-white;
            border-radius: 0.5em;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 40em;
            width: 50em;
            opacity: 0;
            z-index: -1;
            box-shadow: $box-shadow-st;
            transition: 0.1s ease-in-out;

            .container-form-modal, .container-config {
                display: none;
                height: 100%;

                > .head {
                    display: flex;
                    align-items: center;
                    flex: 1;
                    margin: 0em 0em 2em 0em;
                    border-bottom: solid 1px $color-complementary-p;

                    h2, .objective-options
                    {
                        flex: 2
                    }
                }
    
                > .body {
                    flex: 10;
                }
            }

            &.show {
                opacity: 1;
                z-index: 1;
            }

            &.config {

                .container-config {
                    display: flex;
                    flex-direction: column;
                }
            }

            &.goal, &.assignment {
             
                .container-form-modal {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        .content-aside-r {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0;
            height: 100%;
            width: 30em;
            background-color: $color-complementary-p;
            box-shadow: $box-shadow-st;
            opacity: 0;
            z-index: -1;
            transition: 0.1s ease-in-out;

            &.show {
                opacity: 1;
                z-index: 1;
            }
        }
    }
}