@import '../../../themes/lighttheme.scss';

.container-list-modal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;

    >.head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        border-bottom: solid 1px $color-complementary-p;

        h2 {
            font-size: 1.05rem;
        }
    }

    >.body {
        position: relative;
        overflow-y: auto;
        min-height: 21.85rem;

        .card-mini {
            cursor: pointer;

            * {
                cursor: pointer;
            }
        }
    }
}