.button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.4rem;
    width: 2.4rem;
    background-color: $color-complementary-p-50;
    transition: $animation-transition-st;
    cursor: pointer;

    * {
        color: $color-complementary-s;
    }

    .icon-st {
        width: 1.25rem;
    }

    .button-title {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        animation: $animation-fade-in 0.25s linear forwards;
    }

    &.circle {
        border-radius: $spacing-padding-xlg;
    }

    &.plan-round {
        border-radius: $dimensions-border-radius-st;
        padding: $spacing-padding-mini $spacing-padding-st;
        justify-content: start;
        gap: $spacing-gap-sm;
        font-weight: 600;
    }

    &.logo {
        padding: $spacing-padding-mini;
    }

    &.home {
        background-color: $color-accent-p-15;
    }

    /* DOUBLE APPLY */
    &:hover,
    &.active {
        background-color: $color-complementary-s;

        * {
            color: $color-white;
        }

        &.logo {

            * {
                color: $color-complementary-s;
            }
        }

        &.home {
            background-color: $color-accent-p;

            * {
                color: $color-white;
            }
        }
    }

    /* Last application */
    &:active {
        background-color: $color-complementary-s-30;

        &.home {
            background-color: $color-accent-p-50;
        }
    }
}