@import '../../../../themes/lighttheme.scss';
@import '../../../../styles/typography.scss';

div.calendar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: $color-complementary-p-30;
    border: solid 1px $color-complementary-s-15;
    border-radius: 0.5rem;
    padding: 0.5rem;

    .header {
        display: flex;
        height: 1.5rem;
        padding: 0.5rem 0rem;
        font-weight: 600;

        .day-name {
            flex: 1;
            text-align: center;
        }
    }

    .body {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, 1fr);
        height: 100%;
        gap: 0.5rem;

        .day {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.15rem;
            overflow-x: hidden;
            text-align: center;
            font-weight: 600;
            color: $color-complementary-s;
            background-color: $color-complementary-p-50;
            padding: 0.15rem;
            border-radius: 0.5rem;

            .title {
                display: inline-flex;
                margin: 0.25rem;
                justify-content: center;
                width: 2rem;
            }

            .card-mini {
                width: 85%;
                overflow: hidden;
                transition: .3s ease-in-out;
                cursor: pointer;

                * {
                    cursor: pointer;
                }

                .line-info {
                    overflow: hidden;
                    gap: 0.15rem;

                    >label {
                        display: inline-block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: 0.85rem;
                        flex: 5;
                    }

                    >svg {
                        height: 1rem;
                        flex: 1;
                    }
                }

                &:hover {
                    background-color: $color-complementary-p-15;
                }
            }

            &.today {

                .title {
                    background-color: $color-complementary-s;
                    color: $color-white;
                    padding: 0.15rem 0.5rem;
                    border-radius: 1rem;
                }
            }

            &.approximate {
                opacity: 0.6;
            }
        }
    }
}