@use "../../../panels/Panel" as *;
@import '../../../../themes/lighttheme.scss';

.button-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.4rem;
    width: 2.4rem;
    background-color: $color-complementary-p-50;
    color: $color-complementary-s;
    transition: 0.3s ease-out;
    cursor: pointer;
    user-select: none;

    &.add {
        background-color: $color-accent-p-15;

        * {
            color: $color-accent-p;
        }

        &:hover,
        &.active {
            background-color: $color-accent-p;

            * {
                color: $color-white;
            }
        }

        &:active {
            background-color: $color-primary-50;
            transition: .1s linear;
        }
    }

    &.create {
        background-color: $color-accent-p-15;

        &:hover,
        &.active {
            background-color: $color-accent-p;
        }

        &:active {
            background-color: $color-primary-50;
            transition: 0.1s ease-out;
        }

        * {
            color: $color-accent-p;
        }
    }

    &.circle {
        border-radius: 50%;

        &.small {
            height: 1.8rem;
            width: 1.8rem;

            .icon-st {
                height: 1rem;
            }
        }

        &.close {
            height: 1.8rem;
            width: 1.8rem;
        }
    }

    &.plan {
        border-radius: 0.5rem;
        width: 10rem;
        padding: 0rem 1rem;
        justify-content: start;
        gap: 0.5rem;
        font-weight: 600;
    }

    &.plan-round {
        border-radius: 2rem;
        padding: 0rem 1rem;
        justify-content: center;
        gap: 0.5rem;
        font-weight: 600;
    }

    &.pie-chart {
        gap: 0rem;
    }

    /* Double application */
    &:hover,
    &.active {
        background-color: $color-complementary-s;

        * {
            color: $color-white;
        }

        &.home {
            background-color: $color-complementary-p-70;

            img {
                width: 2.15rem;
            }
        }
    }

    &.plan-round,
    &.plan,
    &.add {

        &.small {
            height: 1.8rem;
            width: 5.75rem;
            justify-content: center;
        }

        &.max-width {
            width: max-content;
        }
    }

    /* Last application */
    &:active {
        background-color: $color-complementary-s-30;
        transition: 0.1s ease-in-out;
    }
}