@use "../../../panels/Panel" as *;
@import '../../../../themes/lighttheme.scss';

.button-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.4rem;
    width: 2.4rem;
    background-color: $color-complementary-p-50;
    transition: .3s linear;
    cursor: pointer;

    * {
        color: $color-complementary-s;
    }

    &.circle {
        border-radius: 50%;

        &.close {
            height: 1.8rem;
            width: 1.8rem;
        }
    }

    &.plan {
        border-radius: 0.5rem;
        width: 10rem;
        padding: 0rem 1rem;
        justify-content: start;
        gap: 0.5rem;
        font-weight: 600;

        &.max-width {
            width: max-content;
        }
    }

    &.plan-round {
        border-radius: 2rem;
        padding: 0rem 1rem;
        justify-content: center;
        gap: 0.5rem;
        font-weight: 600;

        &.max-width {
            width: max-content;
        }
    }
    
    &:hover, &.active {
        background-color: $color-complementary-s;

        * {
            color: $color-white;
        }

        &.home {
            background-color: $color-complementary-p-70;

            img {
                width: 2.15rem;
            }
        }
    }

    &:active {
        background-color: $color-complementary-s-30;
        transition: .1s linear;
    }
}