.model-tabs {

    &.objectives {

        &.all-activities {

            .head {
                border-bottom: none;
                padding: 0px;
            }
        }

        .card-mini {
            cursor: pointer;
            min-height: 2rem;

            .card-mini-tag {

                >label {
                    width: 5rem;
                }

                .count {
                    width: 2.5rem;
                }
            }

            * {
                cursor: pointer;
            }
        }
    }
}

.container-popup {

    &.pop-switch-model {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}