@import '../../../../themes/lighttheme.scss';

.btn-checkbox {

    .checkbox-container {
        display: flex;
        border: 0.125em solid $color-complementary-s;
        width: 0.95em;
        height: 0.95em;
        border-radius: 0.25em;
        padding: 0.035em;
        cursor: pointer;

        .icon-st {
            display: inline-flex;
            justify-content: center;
            font-size: 1em;
            width: 1em;
            margin: 0em;
        }
    }
}