.container-list-modal {
    display: flex;
    flex-direction: column;
    gap: $spacing-gap-st;
    padding: $spacing-padding-sm;
    border-radius: $dimensions-border-radius-sm;
    width: $dimensions-w-lg;
    transform: translate(-50%, -50%);
    background-color: $color-secondary;
    box-shadow: $shadow-st;
    overflow: hidden;
    height: 26rem;

    > .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        border-bottom: solid 1px $color-pair-primary;

        h2 {
            font-size: $font-size-m;
            color: $color-pair-secondary;
        }
    }

    > .body {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: $spacing-gap-sm;
        background-color: $color-pair-primary;
        padding: $spacing-padding-sm;
        border-radius: $dimensions-border-radius-sm;
        flex: 1;
    }

    &.empty {
        > .body {
            background-color: transparent;
            align-items: center;

            .empty-state-model {
                height: max-content;

                .title {
                    font-size: $font-size-m;
                }

                .description {
                    font-size: $font-size-st;
                }

                img {
                    height: $dimensions-h-lg;
                }
            }
        }
    }
}
