.container-list-modal {
    display: flex;
    flex-direction: column;
    gap: $spacing-gap-st;
    padding: $spacing-padding-sm;
    border-radius: $dimensions-border-radius-sm;
    width: $dimensions-w-lg;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    box-shadow: $box-shadow-st;
    overflow: hidden;
    height: 26rem;

    >.head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        border-bottom: solid 1px $color-complementary-p;

        h2 {
            font-size: 1.05rem;
        }
    }

    >.body {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        min-height: 21.85rem;
        gap: $spacing-gap-sm;

        .card-mini {
            cursor: pointer;
            transition: $animation-transition-st;

            * {
                cursor: pointer;
            }
        }
    }
}