.container-list-modal {
    display: flex;
    flex-direction: column;
    gap: $spacing-gap-st;
    padding: $spacing-padding-sm;
    border-radius: $dimensions-border-radius-sm;
    width: $dimensions-w-lg;
    transform: translate(-50%, -50%);
    background-color: $color-secondary;
    box-shadow: $shadow-st;
    overflow: hidden;
    height: 26rem;

    >.head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        border-bottom: solid 1px $color-pair-primary;

        h2 {
            font-size: 1.05rem;
            color: $color-pair-secondary;
        }
    }

    >.body {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: $spacing-gap-sm;
        background-color: $color-pair-primary;
        padding: $spacing-padding-sm;
        border-radius: $dimensions-border-radius-sm;
        flex: 1;
    }
}