@import '../../../../themes/lighttheme.scss';

.card {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    border: 3.25px solid transparent;
    border-radius: 0.5rem;
    background-color: $color-white;
    margin: 0.5rem 0rem;

    .head {

        >a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-decoration: none;
            color: $color-complementary-s;

            * {
                cursor: pointer;
            }

            .line-info {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-weight: 600;

                >label {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    flex: 1;
                }
            }

            .tag-box {
                display: flex;
                overflow: hidden;
                gap: 0.25rem;

                >label {
                    display: inline-block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 1.45rem;
                    height: 1.5rem;
                    width: 3.5rem;
                    border-radius: 0.5rem;
                    padding: 0rem 0.35rem;
                    font-weight: 500;
                    font-size: 0.95rem;
                }

                .count {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 600;
                    height: 1.5rem;
                    width: 2.5rem;
                    border-radius: 2rem;
                    background-color: $color-complementary-p-50;
                    color: $color-complementary-s;

                    .icon-st {
                        height: 1.1rem;
                    }
                }
            }
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: $color-complementary-s-70;
        max-height: 8rem;
        overflow: hidden;

        .line-info {

            &.date {
                flex: 2;
                display: flex;
                color: $color-complementary-s-70;
                font-size: 0.85rem;
                font-weight: 600;

                .icon-st {
                    height: 1rem;
                }
            }
        }

        .item {
            display: flex;
            justify-content: space-between;
            gap: 0.5rem;

            .line-info {
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                text-overflow: ellipsis;
                overflow: hidden;

                &.description {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 5;
                    font-weight: 500;
                }
            }

            .side-actions {
                display: flex;
                align-items: end;
                justify-content: start;
                gap: 0.5rem;
                opacity: 0;
                transition: .1s ease-in-out;

                .item-actions {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: end;
                    height: 100%;
                    gap: 0.5rem;

                    .item {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                    }
                }
            }
        }
    }

    &:hover {
        border-color: $color-accent-p-30;

        .body {

            .side-actions {
                opacity: 1;
            }
        }
    }

    &.pending {
        pointer-events: none;
        opacity: 0.8;

        .body {

            .side-actions {
                opacity: 1;
            }
        }
    }
}